*, *::after, *::before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin:0;padding:0;}
@font-face {font-family: 'myraid';src: url('../fonts/MyriadRegular.ttf');font-weight: normal;font-style: normal;}
body {line-height: 1.7;color: #4d4d4d;font-weight: 400;font-family: myraid;font-size: 1rem; }
.main {min-height: 100vh;display: -ms-flexbox;display: flex;-ms-flex-pack: center;justify-content: center;padding:0;margin:0;background:url("../images/tekanza_blow.png");background-position:center;background-size: cover;background-repeat:no-repeat;background-color:rgba(0,0,0,.12);position:relative;overflow:hidden;}
.main .ov{position:absolute;left:0;right:0;width:100%;height:100%;background:rgba(10,50,100,.75);display: -ms-flexbox;display: flex;-ms-flex-pack: center;justify-content: center;}
.main .info {width: 100%;display:block;text-align:center;font-size:18px;color:#fff;max-width: 650px;padding-top: 14vh;text-transform:uppercase;}
.main .info #down {font-size:26px;margin-top: 25px;margin-bottom:-20px;clear:both;width:100%;}
#down div{display:inline-block;float:left;padding:5px 10px;width:150px;border:4px solid #fff;margin:2px;border-radius:20px;}
#down div:nth-child(1){border-color:green;}#down div:nth-child(2){border-color:red;}#down div:nth-child(3){border-color:blue;}#down div:nth-child(4){border-color:yellow;}
.contact {width: 100%;position:fixed;text-align:center;font-size:18px;color:#fff;bottom:0;left:0;padding:15px;background:rgba(0,0,0,.25);border-top:1.5px solid #fff;}
.ol{margin-left:35px;}
