/* body section */
@font-face {
  font-family: 'myraid';
  src: url('../fonts/MyriadRegular.ttf');
  font-weight: normal;
  font-style: normal;
}
body {
  line-height: 1.7;
  color: #4d4d4d;
  font-weight: 400;
  font-family: myraid;
  font-size: 1rem; }

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; }
	
a, p, span, small, sub, h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: inherit; }

.border-2 {
  border-width: 2px; }

.text-black {
 color:#000 !important; }

.tek-blue{
	color:#009fd1 !important;
}
.tek-background-blue{
	background-color:#009fd1 !important;
	border:0 #009fd1 !important;
	text-decoration:none;
}
.tek-bottom-contact-nav, .tek-bottom-contact-nav i{
	font-size:16px !important;
	color:#fff !important;
	line-height:1.2em !important;
}
.tek-bottom-contact-nav a:hover{
	color:#009fd1 !important;
}
.tek-contact-icon{
	display:inline-block;
}
.tek-contact-icon a, .tek-contact-icon a:hover{
	color:#009fd1 !important;
	text-decoration:none;
	font-size:13px !important;
}
.heady{
	font-size:16px !important;
	color:#fff;
}
.force-top{
	padding-top:45px !important;
}
.bg-black {
  background: !important; }

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5); }

.color-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5); }

.offcanvas-menu .site-wrap {
  position: absolute;
  overflow: hidden; }

.site-wrap:before {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden; }

.offcanvas-menu .site-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden; }
  .offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible; }

.btn {
   }
  .btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .btn.btn-black {
    color: #fff;
    background-color: #000; }
    .btn.btn-black:hover {
      color: #000;
      background-color: #fff; }
  .btn.btn-outline-white {
    border: 2px solid #fff; }
    .btn.btn-outline-white:hover {
      background: #fff;
      color:#009fd1  !important; }
  .btn.btn-md {
    padding: 15px 30px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em; }
	
	.btn-primary{
		background-color:#009fd1 !important;
		border:none;
	}
.btn-primary:hover{
	color:#fff;
	font-weight:bold;
}
.line-height-1 {
  line-height: 1 !important; }

.bg-black {
  background: #000; }

.form-control {
  height: 43px;
  border-radius: 30px;
  font-family: inherit; }
  .form-control:active, .form-control:focus {
    border-color: ##009fd1; }
  .form-control:hover, .form-control:active, .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.site-section {
  padding: 1.5em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 10px 0; } }
  .site-section.site-section-sm {
    padding: 2em 0; }

.site-section-heading {
  padding-bottom: 5px;
  margin-bottom: 10px;
  position: relative;
  font-size: 2.5rem; }
  @media (min-width: 768px) {
    .site-section-heading {
      font-size: 2rem; font-weight:bold;} }
  .site-section-heading:after {
    content: "";
    left: 0%;
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 3px;
    background:#009fd1  ; }
  .site-section-heading.text-center:after {
    content: "";
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    left: 50%;
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 3px;
    background:#009fd1  ; }

.border-top{
border-top: 1px solid #edf0f5 !important;
margin-top:45px;
}
p.align_ne{
	clear:both;
	word-spacing:5px;
	padding-top:0px;
	padding-bottom:0px;
	font-family:inherit;
}
p.align_ne a{
text-decoration:none;
} 
p.align_ne a:hover{
color:#009fd1 !important;
}
.site-bottom-footer{
	width:100%;
	height:70px;
	background-color:rgba(192,192,192,.5);
	border-radius:2px;
}
.con_butt{
	border-radius:20px;
	max-width:30%;
	min-width:20%;
	height:45px;
	margin-top:13.5px;
	margin-left:calc(50% - 10%);
	background-color:transparent;
	font-family:inherit;
	font-size:20px;
	border:none;
}
a:link{
	color:inherit;
	text-decoration:none;
}

/*@media (min-width: 768px){*/
.footer_sec{
	width:100%;
	background-color:#444;
	color:#ffffff;
	overflow:hidden;
}
.footer_sec a{
	border:none!important;
}

.footer_column{
	float:left;
	width:33%;
	padding-top:40px;
	padding-left:70px;
	text-align:justify;
	z-index:1999;	
}
.footer_column_01{
	float:left;
	width:calc(67%/4);
	padding-top:40px;
	padding-left:60px;
}
.footer_column_02{
	float:left;
	width:calc(67%/4);
	padding-top:40px;
	padding-left:30px;
}
.footer_column_03{
	float:left;
	width:calc(67%/4);
	padding-top:40px;
	padding-left:20px;
}
.footer_column_04{
	float:left;
	width:calc(67%/4);
	padding-top:40px;
	padding-left:40px;
}
.footer_column_01, .footer_column_02, .footer_column_03, a{
	color:#fff;
}
.footer_column_01, .footer_column_02, .footer_column_03, a:hover{
color:rgba(0,0,255);
}

.footer_column_01, .footer_column_02, .footer_column_03, a:link{
	text-decoration:none;
	color:#fff;
}
.footer_column_04 a:hover{
	background-color:#fff;
	color:rgba(0,0,225);
}
.footer-heading {
    font-size: 16px;
    color: #fff; }
	
.footer_sec::after{
	content:"";
	clear:both;
	display:table;
}
.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
  box-shadow: 20px 0 0 #000, -20px 0 0 #000; }

.text-white-opacity-05 {
  color: rgba(255, 255, 255, 0.5); }

.text-black-opacity-05 {
  color: rgba(0, 0, 0, 0.5); } 
/*}
 */
@media (max-width: 420px){
.con_butt{
	font-size:12px;
	min-width:50%;
	margin-left:calc(50% - 20%);
}
.footer_column{
	display:block;
	width:100%;
	padding:10px;
	text-align:justify;
	z-index:1999;	
}
.footer_column_01{
	display:block;
	width:100%;
	padding:10px;
}
.footer_column_02{
	display:block;
	width:100%;
	padding:10px;
}
.footer_column_03{
	display:block;
	width:100%;
	padding:10px;
}
.footer_column_04{
	display:block;
	width:100%;
	padding:10px;
}
}

.hover-bg-enlarge {
  overflow: hidden;
  position: relative; }
  @media (max-width: 991.98px) {
    .hover-bg-enlarge {
      height: auto !important; } }
  .hover-bg-enlarge > div {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .8s all ease-in-out;
    -o-transition: .8s all ease-in-out;
    transition: .8s all ease-in-out; }
  .hover-bg-enlarge:hover > div, .hover-bg-enlarge:focus > div, .hover-bg-enlarge:active > div {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  @media (max-width: 991.98px) {
    .hover-bg-enlarge .bg-image-md-height {
      height: 300px !important; } }

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .bg-image.overlay {
    position: relative; }
    .bg-image.overlay:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.7); }
 
  .bg-image > .container {
    position: relative;
    z-index: 1; }

@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%;} }

@media (max-width: 991.98px) {
  .display-1, .display-3 {
    font-size: 3rem; } }

.play-single-big {
  width: 90px;
  height: 90px;
  display: inline-block;
  border: 2px solid #fff;
  color: #fff !important;
  border-radius: 50%;
  position: relative;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .play-single-big > span {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-40%, -50%);
    -ms-transform: translate(-40%, -50%);
    transform: translate(-40%, -50%); }
  .play-single-big:hover {
    width: 120px;
    height: 120px; }

.overlap-to-top {
  margin-top: -150px; }

.ul-check {
  margin-bottom: 50px; }
  .ul-check li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    line-height: 1.5; }
    .ul-check li:before {
      left: 0;
      font-size: 20px;
      top: -.3rem;
      font-family: "icomoon";
      content: "\e5ca";
      position: absolute; }
  .ul-check.white li:before {
    color: #fff; }
  .ul-check.success li:before {
    color: #8bc34a; }
  .ul-check.primary li:before {
    color: #009fd1; }

.select-wrap, .wrap-icon {
  position: relative; }
  .select-wrap .icon, .wrap-icon .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 22px; }
  .select-wrap select, .wrap-icon select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%; }

.top-bar { position:sticky !important;top:0!important;z-index:9999!important;border-bottom: 1px solid #fff !important; background-color:#444!important; }
  
/* ABOUT PAGE*/

.w_Ware--pg-o,.w_Ware--pg{
  width:100%;
  display:block;
}
.w_wdo--pg,.w_wdo--pg-after{
display:inline-block;
width:49.5%;
height:160px;
overflow:hidden;
text-align:center;
margin:2px;
padding:10px;
border:2px solid #ccc;
border-radius:15px;
margin-top:15px;
transition:.2s ease-in-out;
}

.w_wdo--pg:hover,.w_wdo--pg-after:hover{pointer:cursor;background:rgba(0,0,0,0.1245);transition:.2s ease-in-out;box-shadow:0 0 15px 0 inset #444;
    -webkit-box-shadow:0 0 15px 0 inset #444;
    -ms-box-shadow:0 0 15px 0 inset #444;
}
.w_wdo--pg-after:last-child{margin-left:calc(25% - 0%);}

@media only screen and (max-device-width: 800px){
    .w_wdo--pg,.w_wdo--pg-after{
    width:100%;
    height:auto;
    display:block;
    float:none;
    text-align:justify;
    }
    .w_wdo--pg-after:last-child{margin-left:0%;}
}

.val---p{
    margin-top:45px;
    text-align:center;
}
  @media (min-width: 768px){
  .exec_pr{
	width:100%;
	text-align:justify;
	clear:both;
	margin-top:auto;
  }
}
  .dir{
	text-align:center !important;
	margin-bottom:1em;
	margin-left:25em;
  }
  .container_dir
 {width:100%;background:linear-gradient(180deg, rgba(255,0,5,.65), rgba(0,159,209,.65))!important; border-radius:3px;
z-index:1999;

 }
/*Executive Profile*/
.break {
  background-color: #009fd1 !important;
  color:#ffffff;
  cursor: pointer;
  padding:10px 7px;
  border-radius:7px;
  text-align:left;
  outline:0;
  border:none;
}

.break:hover {
  background-color:#009fd1 !important;
  background: linear-gradient(180deg, rgba(255,0,5,.35), rgba(0,159,209,.35));
  color:#fffff;
}
.break:before {
  content: '\002B';
  color: #ffffff;
  font-weight: bold;
  float: right;
  font-size:1em;
}

.active:before {
  color:#fff;
  float:right;
}

.content {
  padding: 0px;
  padding-left:0px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #ffffff;
}


/*Partners*/
.partner{
	clear:both;
	float:center;
	text-align:center;
	padding-bottom:20px;
	color:#0000ff;
}	

#marquee-container {
 width: 500px;
 margin: 0 auto;
 overflow: hidden;
 white-space: nowrap;
 margin-bottom:20px;
}

.main_con{
	padding-top:40px;
	max-width:1000px;
	position:relative;
	margin:auto;
	overflow:hidden;
	margin-bottom:25px;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row_1 {
  margin: 10px - 16px;
}

.row_1,
.row_1 > .column_1 {
  padding: 2px;
}

.column_1 {
  float: left;
  width: 50%;
  transition: transform .2s;
   cursor:pointer;
  border:none;
}
 
.row_1:after {
  content: "";
  display:table;
  clear: both;
}

.content_1 {
  background-color: white;
  padding: 10px;
}

.column_1:hover {
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9); 
  transform: scale(0.9); 
}
/* STATISTICS INFO*/
.st{
	margin-left:120px;
	margin-bottom:20px;
	text-align:center;
}
.statis{
display:block;
width: 80%;
background-color:rgba(192, 192, 192);
height:85%;
text-align:center;
margin-bottom:3.9em  !important;
border-radius:20px;
margin:auto;
overflow:hidden;
-webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 6);
-webkit-transition: 0.2s 0s;
-o-transition: 0.2s 0s;
transition: 0.2s 0s;
}
.stats-info {
	text-align: center;
}
.stats h4 {
    color: #fff;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 600;
    background:#444;
    padding:.3em;
    border-right: 5px solid #009fd1;
    border-radius: 13px 0;
}
.stats-grid {
	font-size: 60px;
	font-weight: 400;
	color: #009fd1;
	margin-bottom: 10px;
}
h4.stats-info {
	margin-top: 20px;
}
.stats-grid {
		font-size: 40px;
	}
	.stats h4 {
		font-size: 15px;
	}
	.stats {
		padding: 80px 0;
	}
	
.stats h4 {
		letter-spacing: 1px;
	}
	.stats-grid {
		font-size: 40px;
	}
	.stats {
		padding: 70px 0;
	}
		.stats h4 {
		letter-spacing: 0px;
		font-size: 21px;
	}
	
	.stats h4 {
		font-size: 15px;
	}
	.stats-grid {
		font-size: 30px;
	}
	.stats {
		padding: 50px 0;
	}
	.stats-grid.slideanim {
		float: left;
		width: 50%;
	}
	.stats-grid.slideanim:nth-child(3), .stats-grid.slideanim:nth-child(4){
		margin-top:1em;
	}
	.stats h4 {
		font-size: 17px;
		letter-spacing: 1px;
	}
	.stats-grid {
		font-size: 33px;
	}
/*
New Project page*/

.new_p h2{
	color:#0000ff;
	text-align:center;
	padding:0px;
}
.main_new{
	display:block;
	padding-top:40px;
	position:relative;
	margin-bottom:3em;
	max-width:75%;
	margin:auto;
	overflow:hidden;
	margin-bottom:40px;
	padding:0px !important;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row_new {
  /**margin: 8px -16px;**/
  margin: 0;
}

.column_new {
  float: left;
  width: 25%;
  transition: transform .2s;
  cursor:pointer;
  background-color: white;
  padding: 10px;
}
@media (max-width: 791.98px) {
.column_new {
  display: block;
  margin:0;
  width: 100%;
  transition: transform .2s;
  cursor:pointer;
  background-color: white;
  padding: 5px;
}
 }
.row_new:after {
  content: "";
  display: table;
  clear: both;
}

.column_new:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
/* Navbar */
.up_c{
	text-transform:uppercase;
}
.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  background-color:#444;
  position: relative;
  width: 100%; }
  .site-navbar.transparent {
    background: transparent; }
  .site-navbar.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .site-navbar .site-logo {
    position: relative;
    left: 0;
    top: -5px; }
  .site-navbar .site-navigation.border-bottom {
    border-bottom: 1px solid #f3f3f4 !important; }
  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0;}
    .site-navbar .site-navigation .site-menu .active > a {
      color: #444;
      display: inline-block;
      padding: 5px 20px;}
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block; }
      .site-navbar .site-navigation .site-menu > li > a {
        padding: 5px 16px;
        
        display: inline-block; border-radius:5px;
        text-decoration: none !important; }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: #fff;
		  background-color: #009fd1;}
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative;}
      .site-navbar .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px; }
        .site-navbar .site-navigation .site-menu .has-children > a:before {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        border-top: 2px solid #009fd1;
        -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        border-left: 1px solid #edf0f5;
        border-right: 1px solid #edf0f5;
        border-bottom: 1px solid #edf0f5;
		border-radius:0 0 8px 8px;
        padding: 0px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #fff;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
          position: absolute; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #343a40; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
          color: #444!important; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 200px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 9px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              background: linear-gradient(180deg, rgba(255,0,5,.35), rgba(0,159,209,.35));
              color: #000; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
            content: "\e315";
            right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
            background: #;
            color: #; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: #; }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
          color: #25262a; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #0d0cb5; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li.active > a {
        color: #0d0cb5; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        font-family: "icomoon";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }
    .site-mobile-menu .site-nav-wrap[data-class="social"] {
      float: left;
      width: 100%;
      margin-top: 30px;
      padding-bottom: 5em; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
        width: auto; }
        .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
          padding-left: 15px !important; }

/* Blocks */
.site-blocks-cover {background-position:center!important;background-size: cover!important;background-repeat:no-repeat!important;}
  .site-blocks-cover.overlay { position: relative;}
    .site-blocks-cover.overlay:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background: rgba(0, 128, 0, 0.4); }
  .site-blocks-cover .player {
    position: absolute;
    bottom: -250px;
    width: 100%; }
  .site-blocks-cover, .site-blocks-cover > .container > .row {
    min-height: 300px;
    height: calc(50vh); }
  .site-blocks-cover.inner-page-cover, .site-blocks-cover.inner-page-cover > .container > .row {
    min-height: 400px;
    height: calc(20vh); }
  .site-blocks-cover h1 {
    font-size: 3rem;
    font-weight: 400;
    color: #fff; }
    @media (max-width: 991.98px) {
      .site-blocks-cover h1 {
        font-size: 2rem; } }
  .site-blocks-cover p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    line-height:0; }
  .site-blocks-cover .intro-text {
    font-size: 16px;
    line-height:0; }
  @media (max-width: 991.98px) {
    .site-blocks-cover .display-1 {
      font-size: 3rem; } }

.site-block-subscribe .btn {
  padding-left: 20px;
  padding-right: 20px; }

.site-block-subscribe .form-control {
  font-weight: 300;
  border-color: #fff !important;
  height: 80px;
  font-size: 22px;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px; }
  .site-block-subscribe .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.5);
    font-weight: 200;
    font-style: italic; }
  .site-block-subscribe .form-control::-moz-placeholder {
    /* Firefox 19+ */	
    color: rgba(255, 255, 255, 0.5);
    font-weight: 200;
    font-style: italic; }
  .site-block-subscribe .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.5);
    font-weight: 200;
    font-style: italic; }
  .site-block-subscribe .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.5);
    font-weight: 200;
    font-style: italic; }
.bg-light {
  background: #ccc; }

.team-member {
  position: relative;
  float: left;
  width: 100%;
  overflow: hidden; }
  .team-member img {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .team-member:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(13, 12, 181, 0.8);
    z-index: 2;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .team-member .text {
    top: 50%;
    text-align: center;
    position: absolute;
    padding: 20px;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    opacity: 0;
    visibility: hidden;
    color: #fff; }
  .team-member:hover:before, .team-member:focus:before, .team-member:active:before {
    opacity: 1;
    visibility: visible; }
  .team-member:hover img, .team-member:focus img, .team-member:active img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .team-member:hover .text, .team-member:focus .text, .team-member:active .text {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
    opacity: 1;
    visibility: visible;
    z-index: 4; }

.podcast-entry {
  -webkit-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.1); }
  .podcast-entry .sep {
    margin-left: 5px;
    margin-right: 5px;
    color: #ccc; }
  .podcast-entry .image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 300px; }
    @media (min-width: 768px) {
      .podcast-entry .image {
        width: 300px;
        height: auto; } }
  .podcast-entry .text {
    width: 100%;
    padding: 40px; }
    @media (min-width: 768px) {
      .podcast-entry .text {
        width: calc(100% - 300px); } }

.mejs__container {
  width: 100% !important; }

@media (max-width: 991.98px) {
  .display-4 {
    font-size: 1.8rem; } }

.feature-blocks-1 {
  position: relative;
  margin-top: -70px;
  z-index: 2;
  color: #999999; }
  .feature-blocks-1.no-margin-top {
    margin-top: 0px; }
  .feature-blocks-1 .feature-block-1 {
    position: relative;
    top: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    overflow: hidden;
    z-index: 1; }
    .feature-blocks-1 .feature-block-1.bg {
      position: relative;
      background-size: cover;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out; }
    .feature-blocks-1 .feature-block-1 .text {
      z-index: 10;
      position: relative;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out; }
    .feature-blocks-1 .feature-block-1:before {
      content: "";
      position: absolute;
      top: 0;
      z-index: 1;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0);
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out; }
    .feature-blocks-1 .feature-block-1 p {
      color: #cccccc; }
    .feature-blocks-1 .feature-block-1:hover, .feature-blocks-1 .feature-block-1:focus, .feature-blocks-1 .feature-block-1:active {
      top: -10px;
      -webkit-box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.4);
      box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.4); }
      .feature-blocks-1 .feature-block-1:hover .text, .feature-blocks-1 .feature-block-1:focus .text, .feature-blocks-1 .feature-block-1:active .text {
        opacity: 1;
        visibility: visible; }
      .feature-blocks-1 .feature-block-1:hover.bg, .feature-blocks-1 .feature-block-1:focus.bg, .feature-blocks-1 .feature-block-1:active.bg {
        position: relative;
        background-size: cover;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        z-index: 2; }
      .feature-blocks-1 .feature-block-1:hover:before, .feature-blocks-1 .feature-block-1:focus:before, .feature-blocks-1 .feature-block-1:active:before {
        background: rgba(0, 0, 0, 0.9); }

.site-blocks-vs .bg-image {
  padding-top: 3em;
  padding-bottom: 3em; }
  @media (min-width: 992px) {
    .site-blocks-vs .bg-image {
      padding-top: 5em;
      padding-bottom: 5em; } }

.site-blocks-vs .image {
  width: 80px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px; }
  @media (max-width: 991.98px) {
    .site-blocks-vs .image {
      margin-left: auto !important;
      margin-right: auto !important; } }
  .site-blocks-vs .image img {
    border-radius: 50%; }
  .site-blocks-vs .image.image-small {
    width: 50px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px; }

.site-blocks-vs .country {
  color: rgba(255, 255, 255, 0.7); }

.match-entry {
  position: relative;
  -webkit-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
  .match-entry .small {
    color: #ccc;
    font-weight: normal;
    letter-spacing: .15em; }
  .match-entry:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 90;
    -webkit-box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.1); }

.post-entry {
  position: relative;
  overflow: hidden;
  border: 1px solid #e6e6e6; }
  .post-entry, .post-entry .text {
    border-radius: 4px;
    border-top: none !important; }
  .post-entry .date {
    color: #ccc;
    font-weight: normal;
    letter-spacing: .1em; }
  .post-entry .image {
    overflow: hidden;
    position: relative; }
    .post-entry .image img {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .post-entry:hover .image img, .post-entry:active .image img, .post-entry:focus .image img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

.site-block-tab .nav-item {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0 20px; }
  .site-block-tab .nav-item:first-child {
    margin-left: 0 !important; }
  .site-block-tab .nav-item > a {
    padding-left: 0 !important;
    background: none !important;
    padding-right: 0 !important;
    border-bottom: 2px solid transparent;
    border-radius: 0 !important;
    font-weight: bold;
    color: #cccccc; }
    .site-block-tab .nav-item > a:hover, .site-block-tab .nav-item > a.active {
      border-bottom: 2px solid #009fd1;
      color: #000; }

.block-13, .slide-one-item {
  position: relative;
  z-index: 1; }
  .block-13 .owl-nav, .slide-one-item .owl-nav {
    position: relative;
    position: absolute;
    bottom: -90px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    .block-13 .owl-nav .owl-prev, .block-13 .owl-nav .owl-next, .slide-one-item .owl-nav .owl-prev, .slide-one-item .owl-nav .owl-next {
      position: relative;
      display: inline-block;
      padding: 20px;
      font-size: 30px;
      color: #000; }
      .block-13 .owl-nav .owl-prev.disabled, .block-13 .owl-nav .owl-next.disabled, .slide-one-item .owl-nav .owl-prev.disabled, .slide-one-item .owl-nav .owl-next.disabled {
        opacity: .2; }

.slide-one-item.home-slider .owl-nav {
  position: absolute !important;
  top: 50% !important;
  bottom: auto !important;
  width: 100%; }
  @media (max-width: 991.98px) {
    .slide-one-item.home-slider .owl-nav {
      display: none; } }

.slide-one-item.home-slider .owl-prev {
  left: 10px !important; }

.slide-one-item.home-slider .owl-next {
  right: 10px !important; }

.slide-one-item.home-slider .owl-prev, .slide-one-item.home-slider .owl-next {
  color: #fff;
  position: absolute !important;
  top: 50%;
  padding: 0px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  line-height: 0;
  text-align: center;
  font-size: 25px; }
  @media (min-width: 768px) {
    .slide-one-item.home-slider .owl-prev, .slide-one-item.home-slider .owl-next {
      font-size: 25px; } }
  .slide-one-item.home-slider .owl-prev > span, .slide-one-item.home-slider .owl-next > span {
    position: absolute;
    line-height: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .slide-one-item.home-slider .owl-prev:hover, .slide-one-item.home-slider .owl-prev:focus, .slide-one-item.home-slider .owl-next:hover, .slide-one-item.home-slider .owl-next:focus {
    background: black; }

.slide-one-item.home-slider:hover .owl-nav, .slide-one-item.home-slider:focus .owl-nav, .slide-one-item.home-slider:active .owl-nav {
  opacity: 10;
  visibility: visible; }

.slide-one-item .owl-dots {
  text-align: center; }
  .slide-one-item .owl-dots .owl-dot {
    display: inline-block;
    margin: 4px; }
    .slide-one-item .owl-dots .owl-dot span {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #dee2e6; }
    .slide-one-item .owl-dots .owl-dot.active span {
      background:#009fd1; }

.block-12 {
  position: relative; }
  .block-12 figure {
    position: relative; }
    .block-12 figure:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
      background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
      background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
      background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
      background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); }
  .block-12 .text-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 10; }
    .block-12 .text-overlay h2 {
      color: #fff; }
  .block-12 .text {
    position: relative;
    top: -100px; }
    .block-12 .text .meta {
      text-transform: uppercase;
      padding-left: 40px;
      color: #fff;
      display: block;
      margin-bottom: 20px; }
    .block-12 .text .text-inner {
      -webkit-box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3);
      background: #fff;
      padding: 10px;
      margin-right: 30px;
      position: relative; }
      @media (min-width: 576px) {
        .block-12 .text .text-inner {
          padding: 20px; } }
      @media (min-width: 768px) {
        .block-12 .text .text-inner {
          padding: 30px 40px; } }
      .block-12 .text .text-inner:before {
        position: absolute;
        content: "";
        width: 80px;
        height: 4px;
        margin-top: -4px;
        background: #0d0cb5;
        top: 0; }
      .block-12 .text .text-inner .heading {
        font-size: 20px;
        margin: 0;
        padding: 0; }

.block-16 figure {
  position: relative; }
  .block-16 figure .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 70px;
    height: 70px;
    background: #fff;
    display: block;
    border-radius: 50%;
    opacity: 1;
    color: #0d0cb5 !important; }
    .block-16 figure .play-button:hover {
      opacity: 1; }
    .block-16 figure .play-button > span {
      position: absolute;
      left: 55%;
      top: 50%;
      -webkit-transform: translate(-60%, -50%);
      -ms-transform: translate(-60%, -50%);
      transform: translate(-60%, -50%); }

.block-25 ul, .block-25 ul li {
  padding: 0;
  margin: 0; }

.block-25 ul li a .image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 90px;
  flex: 0 0 90px; }
  .block-25 ul li a .image img {
    border-radius: 4px;
    max-width: 100%;
    opacity: 1;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; }

.block-25 ul li a .text .heading {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #999999; }

.block-25 ul li a .meta {
  color: #0d0cb5; }

.block-25 ul li a:hover img {
  opacity: .5; }

.block-25 ul li a:hover .text .heading {
  color: #fff; }

#date-countdown .countdown-block {
  color: #b3b3b3; }

#date-countdown .label {
  font-size: 40px;
  color: #000; }

.next-match .image {
  width: 50px;
  border-radius: 50%; }

.player {
  position: relative; }
  .player img {
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 20px; }
  .player .team-number {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #0d0cb5;
    border-radius: 50%;
    color: #fff; }
    .player .team-number > span {
      position: absolute;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%; }
  .player h2 {
    font-size: 20px;
    letter-spacing: .2em;
    text-transform: uppercase; }
  .player .position {
    font-size: 14px;
    color: #b3b3b3;
    text-transform: uppercase; }

.site-block-27 ul, .site-block-27 ul li {
  padding: 0;
  margin: 0; }

.site-block-27 ul li {
  display: inline-block;
  margin-bottom: 4px; }
  .site-block-27 ul li a, .site-block-27 ul li span {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc; }
  .site-block-27 ul li.active a, .site-block-27 ul li.active span {
    background: #0d0cb5;
    color: #fff;
    border: 1px solid transparent; }

.site-block-feature-7 .icon {
  -webkit-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.site-block-feature-7:hover .icon, .site-block-feature-7:focus .icon, .site-block-feature-7:active .icon {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.unit-1 {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: block; }
  .unit-1:after {
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); }
  .unit-1 img {
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .unit-1 img, .unit-1 .unit-1-text {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; }
  .unit-1 .unit-1-text {
    z-index: 2;
    position: absolute;
    bottom: -90px;
    color: #fff;
    display: block;
    width: 100%; }
    .unit-1 .unit-1-text .unit-1-heading {
      font-size: 1.5rem;
      position: relative; }
  .unit-1 p {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: rgba(255, 255, 255, 0.5); }
  .unit-1:hover p {
    opacity: 1;
    visibility: visible; }
  .unit-1:hover .unit-1-text {
    bottom: 30px; }
  .unit-1:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }

.overlap-section {
  margin-top: -150px;
  position: relative;
  z-index: 9; }

.unit-4 .unit-4-icon span {
  font-size: 3rem; }

.unit-4 h3 {
  font-size: 20px; }

.h-entry img {
  margin-bottom: 30px; }

.h-entry .meta {
  color: #b3b3b3;
  font-size: 14px; }

.h-entry h2 {
  font-size: 20px; }

.overlap-left {
  margin-left: -100px; }
  @media (max-width: 991.98px) {
    .overlap-left {
      margin-left: 0px; } }

.overlap-section {
  margin-top: -100px; }

.feature-1, .free-quote, .feature-3 {
  background: #0d0cb5;
  padding: 30px 50px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px; }
  .feature-1 .heading, .free-quote .heading, .feature-3 .heading {
    font-size: 22px;
    text-transform: uppercase;
    color: #fff; }
  .feature-1 .icon, .free-quote .icon, .feature-3 .icon {
    border: 2px solid rgba(255, 255, 255, 0.5);
    width: 80px;
    height: 80px;
    line-height: 80px;
    position: relative;
    border-radius: 50%;
    margin: 0 auto !important; }
    .feature-1 .icon > span, .free-quote .icon > span, .feature-3 .icon > span {
      font-size: 35px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.free-quote {
  background: #0b0a9d; }
  .free-quote .form-control {
    border: 2px solid rgba(255, 255, 255, 0.5);
    background: none;
    color: #fff; }
    .free-quote .form-control:active, .free-quote .form-control:focus {
      border: 2px solid #fff; }
    .free-quote .form-control::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgba(255, 255, 255, 0.4);
      font-size: 13px;
      font-style: italic; }
    .free-quote .form-control::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(255, 255, 255, 0.4);
      font-size: 13px;
      font-style: italic; }
    .free-quote .form-control:-ms-input-placeholder {
      /* IE 10+ */
      color: rgba(255, 255, 255, 0.4);
      font-size: 13px;
      font-style: italic; }
    .free-quote .form-control:-moz-placeholder {
      /* Firefox 18- */
      color: rgba(255, 255, 255, 0.4);
      font-size: 13px;
      font-style: italic; }
.feature-3 {
  background: #0b0a94; }

.border-primary {
  position: relative; }
  .border-primary h2 {
    font-weight: 700 !important; }
  .border-primary:after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 80px;
    height: 3px;
    background: #009fd1;}

  .border-primary.text-center:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .border-primary.text-left:after {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }

.testimonial {
  max-width: 800px;
  margin: 0 auto !important;
  text-align: center; }
  .testimonial blockquote {
    font-size: 1.5rem;
    font-style: italic; }
  .testimonial figure img {
    max-width: 100px;
    margin: 0 auto;
    border-radius: 50%; }

.breadcrumb-custom {
  font-size: 1rem !important; }

.text-muted {
  color: #ccc !important;
  font-size: 12px;
  text-transform: uppercase; }

.how-it-work-item .number {
  width: 50px;
  height: 50px;
  background: #0d0cb5;
  color: #fff;
  line-height: 55px;
  font-weight: 300;
  display: inline-block;
  text-align: center;
  font-size: 30px;
  border-radius: 50%;
  margin-bottom: 40px; }

.how-it-work-item h2 {
  font-size: 18px;
  margin-bottom: 30px;
  color: #fff; }

.how-it-work-item p {
  color: white; }
  
.person{
	margin-bottom:em;
}
.person,.text-muted, img, h4 ul > li{
  font-size: 14px; color:#0d0cb5;}

.ul-social-circle {
  list-style: none;
  padding: 0;
  margin: 0; }
  .ul-social-circle li {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px; }
    .ul-social-circle li:first-child {
      margin-left: 0; }
    .ul-social-circle li span {
      width: 30px;
      height: 30px;
      background: #777;
      font-size: 13px;
      text-align: center;
      line-height: 30px;
      border-radius: 50%;
      display: inline-block; }
    .ul-social-circle li a span {
      color: #fff;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .ul-social-circle li a:hover span {
      background: #2b2b2b;
      color: #fff; }

.custom-pagination a, .custom-pagination span {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  display: inline-block;
  background: #0d0cb5;
  color: #fff; }

.custom-pagination span {
  background: #e6e6e6;
  color: #000; }

.custom-pagination .more-page {
  background: none;
  letter-spacing: .1em; }

.form-search-wrap {
  background: #fff;
  border-radius: 30px; }
  .form-search-wrap .form-control {
    border: none; }
    @media (max-width: 1199.98px) {
      .form-search-wrap .form-control {
        height: 55px; } }
  .form-search-wrap .btn {
    border-radius: 30px;
    padding: 10px 30px; }
    @media (max-width: 1199.98px) {
      .form-search-wrap .btn {
        width: 100% !important;
        display: block; } }

.popular-category {
  background: #fff;
  display: block;
  text-align: center;
  padding: 30px 10px;
  border-radius: 7px;
  background: #f8f9fa;
  position: relative; }
  .popular-category .icon {
    display: block;
    -webkit-transition: .1s all ease;
    -o-transition: .1s all ease;
    transition: .1s all ease; }
    .popular-category .icon > span {
      line-height: 0;
      font-size: 40px; }
  .popular-category .caption {
    color: #666666;
    -webkit-transition: .1s all ease;
    -o-transition: .1s all ease;
    transition: .1s all ease; }
  .popular-category .number {
    padding: 2px 20px;
    border-radius: 30px;
    display: inline-block;
    background: #e9ecef;
    color: #000;
    font-size: 14px;
    -webkit-transition: .1s all ease;
    -o-transition: .1s all ease;
    transition: .1s all ease; }
  .popular-category:hover {
    background: #0d0cb5;
    -webkit-box-shadow: 0 5px 30px -5px rgba(13, 12, 181, 0.5);
    box-shadow: 0 5px 30px -5px rgba(13, 12, 181, 0.5); }
    .popular-category:hover .caption {
      color: #fff; }
    .popular-category:hover .icon {
      color: #fff; }
    .popular-category:hover .number {
      background: #0b0a9d;
      color: #fff; }

@media (max-width: 1199.98px) {
  .no-sm-border {
    border: none !important; } }

.listing-item {
  position: relative;
  overflow: hidden;
  border-radius: 4px; }
  .listing-item:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4); }
  .listing-item img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .listing-item:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  .listing-item .listing-item-content {
    position: absolute;
    bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2;
    width: 100%; }
    .listing-item .listing-item-content .category {
      font-size: 12px;
      display: inline-block;
      padding: 5px 30px;
      background: #0d0cb5;
      border-radius: 30px;
      color: #fff;
      letter-spacing: .2em;
      text-transform: uppercase; }
    .listing-item .listing-item-content h2 {
      font-size: 22px; }
      .listing-item .listing-item-content h2, .listing-item .listing-item-content h2 a {
        color: #fff; }
    .listing-item .listing-item-content span {
      color: #fff; }
    .listing-item .listing-item-content .address {
      color: rgba(255, 255, 255, 0.8); }
  .listing-item .bookmark {
    position: absolute;
    right: 20px;
    bottom: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    background: rgba(255, 255, 255, 0.3);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .listing-item .bookmark span {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .listing-item .bookmark:hover {
      background: #f23a2e; }
      .listing-item .bookmark:hover span {
        color: #fff; }

.accordion-item[aria-expanded="true"] {
  color: #0d0cb5; }

.social-media {
  display: inline-block;
  float: right;
  margin-bottom: 0px; }
  .social-media li {
    display: inline-block; }

.ft-feature-1 {
  margin-bottom: 30px; }
  .ft-feature-1 .ft-feature-1-content {
    padding: 30px;
    margin-top: -50px;
    position: relative;
 }
  .ft-feature-1 h2, .ft-feature-1 h3 {
    font-size: 20px;
    color: #fff; }
  .ft-feature-1 h3 {
    font-size: 18px; }
    .ft-feature-1 h3 .icon {
      font-size: 30px; }
  .ft-feature-1 a {
    color: #fff;
    /*text-decoration: underline;*/ }
    .ft-feature-1 a:hover {
     color: #fff;
     text-decoration: none; }
    .btn-submit{
    display: inline-block;
    width: 50px;
    height: 43px;
    background: #009fd1;
    margin-right: 1.5rem;
    border-radius: 0px 5px 5px 0px;
    line-height: 50px;
    text-align: center;
    cursor:pointer;
    text-decoration: none !important;
    }
    .ft-feature-1 .play .icon-play{
    display: inline-block;
    width: 60px;
    height: 40px;
    background: #000;
    margin-right: 1.5rem;
    margin-top:9px;
    margin-bottom:9px;
    border:2px solid #009fd1;
    line-height:35px;
    color:#009fd1;
    border-radius:5px;
    text-align: center;
    text-decoration: none !important; }
    .ft-feature-1 .play span {
      color: #fff;
      display: inline; }
  .ft-feature-1 .img-feature {
    position: relative;
    margin-bottom: 30px; }
    @media (min-width: 992px) {
      .ft-feature-1 .img-feature {
        margin-bottom: -80px; } }
  .ft-feature-1 p {
    color: #737373; }

.box-with-humber {
  position: relative; }
  .box-with-humber .number-behind {
    font-size: 8rem;
    position: absolute;
    z-index: -1;
    top: -4rem;
    left: -3rem;
    font-weight: 900;
    color: #f2f4f5; }

.media-1 {
	z-index:1999;
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 30px; }
  .media-1:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    content: "";
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility:visible; }
	small{
		font-size:1.5em;!important;
	}
  .media-1 img {
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .media-1 .media-1-content {
    z-index: 1999;
    top: 50%;
    position: absolute;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .media-1 .media-1-content h {
      position: relative;
      color: #fff;
      font-size: 1.5rem;
      -webkit-transition: .4s all ease-in-out;
      -o-transition: .4s all ease-in-out;
      transition: .4s all ease-in-out;
      opacity: 0;
      visibility:visible;
      bottom: -10px;
      margin-bottom: 0px; }
    .media-1 .media-1-content .category {
      z-index:1999;
	  position: relative;
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out;
      opacity: 0;
      bottom: -10px;
      visibility:;
      color: #999999;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: .2em; }
  .media-1:hover:after {
    opacity: 1;
    visibility: visible; }
  .media-1:hover h2 {
    bottom: 0px;
    opacity: 1;
    visibility: visible; }
  .media-1:hover .category {
    opacity: 1;
    visibility: visible;
    bottom: 0px;
    -webkit-transition-delay: 0.09s;
    -o-transition-delay: 0.09s;
    transition-delay: 0.09s; }
  .media-1:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }

.testimonial-wrap .owl-nav {
  display: none; }

 .mrk{
	 float:left;
	 clear:both;
	 padding-top:80px;
	 padding-left:120px;
 }
 
 /*Web Development*/
 @media (min-width:768px){
.main {

  width: 530px;
  margin-left:28em;
  margin-top:5em;
  overflow:hidden;
  margin-bottom:5em;
}
}
@media (min-width:768px){
.left,
.right {
  width: 25%;
  height: 19ex;
  background-color:#009fd1;
}

.left {
  -webkit-shape-outside: polygon(0 0, 100% 100%, 0 100%);
  shape-outside: polygon(0 0, 100% 100%, 0 100%);
  float: left;
  -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.right {
  -webkit-shape-outside: polygon(100% 0, 100% 100%, 0 100%);
  shape-outside: polygon(100% 0, 100% 100%, 0 100%);
  float: right;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.flip-box_1 {
  background-color:#009fd1;
  width: 400px;
  height: 95px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  float:left;
  margin-left:5em;
}
.flip-box_2 {
  background-color:#009fd1;
  width: 400px;
  height: 95px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  float:left;
  margin-left:12em;
}
.flip-box_1::after{
content:"";
clear:both;
display:table;
}

.flip-box_2::after{
content:"";
clear:both;
display:table;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box_1:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box_2:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #009fd1;
  color: #fff;
}

.flip-box-back {
  background-color:#444;
  color:#fff;
  transform: rotateX(180deg);
}
 .flip-box-front a{
	color:#ffffff;
}
 .flip-box-back a{
	color:#ffffff;
}
 .flip-box-front, .flip-box-back a:hover{
	color:#009fd1;
}
}
.row_r_1::after{
	clear:both;
	content:"";
	display:table;
	
}

.bott_om{
	width:100%;
	height:70px;
	background-color:;
	margin-top:16em;
}
.cap{
	text-transform:uppercase;
}
.acd { background-color: #009fd1; color: #444; cursor: pointer; padding: 12px 25px; border: 1.5px solid #009fd1; text-align: left; border-radius:5px; outline: none !important; font-size: 15px; transition: 0.4s; margin-bottom:5px;}
.acti, .acd:hover { background-color: #ccc; }
.acd:after { content: '\002B'; color: #444; font-weight: bold; float: right; margin-left: 15px; }
.acti:after { content: "\2212"; color: #444; font-weight: bold; float: right; margin-left: 15px;}
.pv { padding: 0 18px; margin-left:18px;border-left:1.5px solid #009fd1;width:92%;background-color: transparent; max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out; }

/*-----Netwoorking Infrastructure--*/
.col p{
	text-align:justify!important;
}

.acd1 {  background-color: #009fd1; color: #444; cursor: pointer; padding: 12px 25px; border: 1.5px solid #009fd1; text-align: left; border-radius:5px; outline: none !important; font-size: 18px; transition: 0.4s; margin-bottom:5px;}
.acti, .acd:hover { background-color: #ccc; }
.acd1:after { content: '\002B'; color: #444; font-weight: bold; float: right; margin-left: 15px; }
.acti:after { content: "\2212"; color: #444; font-weight: bold; float: right; margin-left: 15px;}
.pv { padding: 0 18px; margin-left:18px;border-left:1.5px solid #009fd1;width:92%;background-color: transparent; max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out; }


/*Featured Project Page*/
.main_feap{
	display:block;
	padding-top:40px;
	position:relative;
	margin-bottom:3em;
	max-width:75%;
	margin:auto;
	overflow:hidden;
	margin-bottom:40px;
	padding:0px !important;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row_feap {
  /**margin: 8px -16px;**/
  margin: 0;
}

.column_feap{
  float: left;
  width: 50%;
  transition: transform .2s;
  cursor:pointer;
  background-color: white;
  padding: 10px;
}
@media (max-width: 791.98px) {
.column_feap {
  display: block;
  margin:0;
  width: 100%;
  transition: transform .2s;
  cursor:pointer;
  background-color: white;
  padding: 5px;
}
 }
.row_feap:after {
  content: "";
  display: table;
  clear: both;
}

.column_feap:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}

.s_show_all_1{
	float:center;
	border-radius:5px;
	background-color:#009fd1;
	border:none;
	margin-bottom:1em;
	padding-bottom:5px;
}
/*Modal*/
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;

}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px; line-height:2;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  margin-bottom:6em;
}
.hjvhv{
	float:left;
	width:38.9%;
	padding:5px;
	margin-left:5em;
	margin-bottom:1em;
	background-color:gray;
	
}
.img_@::after{
	content:"";
	clear:both;
	display:table;
}
.para{
	background-color:#000000;
	color:#ffffff;
	border-radius:10px;
	border-color: 10px solid blue;
	padding-left:25px;
	padding-right:25px;
	text-align:justify;
	font-family:inherit;
}

  /*Digital markeing section*/
 .digi_sec{
	  width:30%;
	  height:60px;
	  background-color:red;
	  clear:both;
	  padding-left:120px;
	  padding-top:20px;
	  float:left;
	  text-align:justify;
	  display:table;
 }
 
 .digi_sec_{
	  width:30%;
	  height:60px;
	  background-color:red;
	 clear:both;
	  color:#ffffff;
	  padding-left:120px;
	  padding-top:20px;
	  float:left;
	  text-align:justify;
	  display:table;
 }

.owl-carousel owl-theme partners_slider{
	width:100%;
	height:100px;
	z-index:1999;
}
/*---------------------
Client  Request Form_1
-----------------------*/
.client-form input[type='text'],
.client-form input[type='email'],
.client-form select {
	width: 100%;
	border: 1px solid #009fd1;
	font-size: 14px;
	padding: 18px 20px;
	margin-bottom: 30px;
	border-radius: 5px;
    -webkit-transition: 0.2s 0s;
    -o-transition: 0.2s 0s;
    transition: 0.2s 0s;
}

.client-form select {
	height: 60px;
	color: rgba(0,159,209,1);	
}

.client-form. input[type='text'],
.client-form.  input[type='email'],
.client-form.  select {
	border: 1px solid #e1e1e1;
}
.client-form. select {
	margin-bottom: 50px;
}

/*........................................................
Client  Request Form_2
-------------------------------------------*/

.contact_web{
	max-width:100%;
	margin-left:2em;
	margin-right:2em;
	background-color:#009fd1 !important;
	text-align:center !important;
	border:one;
	border-radius:1em;
	padding-left:20px;
	z-index:1999;
}
.bottom_contact{
max-width:100%;
float:left;
margin:0.9em;
color:#009fd1;
}
.select_row input[type='text'],
.select_row input[type='email'],
.select_row select, textarea {
	min-width: 45%;
	border: 1px solid #009fd1;
	font-size: 14px;
	padding: 18px 20px;
	margin-bottom: 30px;
	border-radius: 5px;
    -webkit-transition: 0.2s 0s;
    -o-transition: 0.2s 0s;
    transition: 0.2s 0s;
}
.select_row select {
	height: 60px;
	color: rgba(0,159,209,1);	
}

.select_row. input[type='text'],
.select_row.  input[type='email'],
.select_row.  select {
	border: 1px solid #e1e1e1;
}
.select_row. select, textarea{
	margin-bottom: 50px;
}
label{
	color: #009fd1;
}
/*---------------------
	Contact page
-----------------------*/
.contact-form{
	width:100%;
	height:15%;
	margin-top:100px;
	clear:both;
	background:transparent;
	margin-bottom:60px;
}
.section-title h3 {
	position:relative;
	clear:both;
	float:center;
	text-transform: uppercase;
	padding-top:40px;
}

.section-title p {
	margin-bottom:0px;
}
.section-title {
	margin-bottom:40px;
}
.map-section{
	padding-top:50px;
}
.gmap {
	display:inline-block;
	width:100%;
	height:250px;
	overflow:hidden;
}
.taka-taka{
	display:block;
	max-width:800px;
	margin:auto;
}
.taka-taka .row .btn{
	background:#009fd1;
	color:#fff;
	box-shadow:0 2px 8px #444;
}
#client-modal{
	display:none;
	position:fixed;
	z-index:90002;left:0;top:0;
	min-height:100%;
	width:100%;
	background:rgba(0,0,0,.25);
}
.modalContainer{
	max-width:800px;
	padding:5px;
	background:#fff;
	min-height:200px;
	max-height:500px;
	overflow-x:hidden;
	display:block;
	margin:10vh auto;
	border-radius:15px;
	box-shadow:0 0 8px 0 #444;
}
.client-modal-close{
	right:5px;
	top:15px;
	position:absolute;
	background:#fff;
	border-radius:50%;
	width:40px;
	height:40px;
	border:none;
	outline:0;
	cursor:pointer;
}
.contact-info-warp {
	dispaly:inline-block;
	width:100%;
	color: #444;
	height:auto;
	border:1.5px solid #009fd1;
	border-radius:10px;
	background: linear-gradient(-15deg, rgba(0,159,209,.35), rgba(255,0,5,.35));
	text-align: center;
	font-size:10em;
	overflow:hidden;
	padding-top:70px;
}

.contact-info-warp .contact-info {
	margin-bottom: 40px;
}

.contact-info-warp .contact-info h1 {
	color:#444;
	font-weight: 400;
	margin-bottom: 8px;
}

.contact-info-warp .contact-info p {
	margin-bottom: 40px;
}

/*----------------------------------
contact us-comment-form*/

.comment-form input[type='text'],
.comment-form input[type='email'],
.comment-form textarea, .comment-form select {
	width: 100%;
	border: 1px solid #009fd1;
	font-size: 14px;
	padding: 18px 20px;
	margin-bottom: 30px;
	border-radius: 5px;
    -webkit-transition: 0.2s 0s;
    -o-transition: 0.2s 0s;
    transition: 0.2s 0s;
}
.comment-form select option{
	color: rgba(0,159,209,1);
}
.comment-form textarea {
	min-height: 150px;
}

.comment-form. --contact input[type='text'],
.comment-form. --contact input[type='email'],
.comment-form. --contact textarea {
	border: 1px solid #009fd1;
}

.comment-form.--contact textarea {
	margin-bottom: 50px;
}


#site-btn {
	position: relative;
	text-transform: uppercase;
	background:#009fd1;
	color: #fff;
	padding: 18px 30px;
	font-size: 14px;
	font-weight: 500px;
	border-radius: 50px 5px 50px 5px;
	min-width: 200px;
	text-align: center;
	border:none;
	cursor: pointer;
	margin-top:-20px;
}
#site-btn:hover {
	background: rgba(0,159,209,.5);
	color:#444;
}
.reset, #site-btn {
	border:none;
}
.img-fluid{border-radius:10px;}
.img-feature{box-shadow:0 0 15px 0 inset #444;}


