*, *::after, *::before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin:0;padding:0;}
@font-face {font-family: 'myraid';src: url('../fonts/MyriadRegular.ttf');font-weight: normal;font-style: normal;}
body {line-height: 1.7;color: #4d4d4d;font-weight: 400;font-family: myraid;font-size: 1rem; }
.main {min-height: 100vh;display: -ms-flexbox;display: flex;-ms-flex-pack: center;justify-content: center;padding:0;margin:0;background:url("../images/tekanza_blow.png");background-position:center;background-size: cover;background-repeat:no-repeat;background-color:rgba(0,0,0,.12);position:relative;overflow:hidden;}
input[type="number"],select{-webkit-appearance: textfield !important;outline-offset: -2px!important;}
.main .ov{position:absolute;left:0;right:0;width:100%;height:100%;background:rgba(10,50,100,.75);display: -ms-flexbox;display: flex;-ms-flex-pack: center;justify-content: center;}
.main .info {width: 100%;display:block;text-align:center;font-size:32px;color:#fff;max-width: 650px;padding-top: 24vh;text-transform:uppercase;}
.main .info .p {font-size:24px;margin-top: 24px;}
.contact {width: 100%;position:fixed;text-align:center;font-size:14px;color:#fff;bottom:0;left:0;padding:15px;background:rgba(0,0,0,.25);border-top:1.5px solid #fff;}
.ol{margin-left:35px;}
#dv0, #dv, .bw-ew,.bw-e,.temp1,.temp2,.temp3{ display:none; }
.bpw.p,.bw-ew.b,.bw-ew.e,.bw-e.b,.temp1.pw,.temp2.bw,.temp3.ew{ display:inline-block; }
.bw-ew:nth-child(1){ display:inline-block; }
.switch {position: relative;display: block;width: 100%;}
.switch input {opacity: 0; width: 0; height: 0;}.slider {position: absolute;width:50px;height:25px;right:0;border-radius:20px;top:calc(50% - 15px);background-color: #ccc;-webkit-transition: .4s;transition: .4s;}.slider:before {position: 
absolute;content: "";height: 17px;width: 17px;left: 4px;border-radius:50%;bottom:4px; background-color: #efefef;-webkit-transition: .4s;transition: .4s;}
input:checked + .slider { background-color: #2196F3;}input:checked + .slider:before {-webkit-transform: translateX(25px); -ms-transform: translateX(25px);transform: translateX(25px);}
.over_out{ position:fixed;top:0;left:0;width:100%;height:100%;z-index:909090909;background:rgba(0,0,0,.65);}
.over_out .close{position:fixed;top:10px;right:10px;width:50px;height:50px;font-size:50px;display:block;} .over_out img{max-width:800px;max-height:500px;display:block;margin:0 auto;} .over_out .text{max-width:800px;display:block;margin:25px auto;font-size:15px;}
