<head>
<style>
@import url('https://fonts.googleapis.com/css?family=Parisienne');

$nav-bg: #222;
$nav-height: 20px;
$menu-bg: #ff3838;
$menu-width: 80px;
$menu-height: 250px;
$menu-border-color: #b20000;
$menu-banner-size: 59px;
$menu-font-color: #fff;
$menu-font-size: 24px;
$menu-shadow: 0 0 15px 1px #222;
$list-bg: #00de81;
$list-width: 175px;
$list-height: 50px;
$list-color: #fff;
$list-border-color: #008a39;
$list-font-size: 20px;

nav {
  background-color: $nav-bg;
  width: 100%;
  height: $nav-height;
  border-bottom: solid 1px #0f0f0f;
  position: absolute;
  top: 0;
  left: 0;
  .rb-menu {
    background-color: $menu-bg;
    width: $menu-width;
    height: $menu-height;
    border-left: solid 5px $menu-border-color;
    border-right: solid 5px $menu-border-color;
    position: absolute;
    top: 0 - $menu-height + $nav-height + 15px;
    left: 50%;
    cursor: pointer;
    box-shadow: $menu-shadow;
    transform: translateY(0) translateX(-50%);
    transition: transform 0.2s ease 0.2s, top 0.5s ease-in 0.4s;
    &:before {
      content: '';
      background-color: $menu-bg;
      width: $menu-banner-size;
      height: $menu-banner-size;
      border-right: solid 5px $menu-border-color;
      border-bottom: solid 5px $menu-border-color;
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      box-shadow: $menu-shadow;
      transform: translate(-50%, 50%) rotate(45deg);
    }
    .rb-toggle {
      color: $menu-font-color;
      font-family: 'Parisienne', cursive;
      font-size: $menu-font-size;
      text-align: center;
      text-decoration: none;
      background-color: $menu-bg;
      width: 100%;
      height: 100%;
      border-left: solid 5px $menu-border-color;
      border-right: solid 5px $menu-border-color;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      position: absolute;
      bottom: 3px;
      left: -5px;
      text-shadow: 0 -1px darken($menu-bg, 25%);
      border-radius: 5px;
      z-index: 1;
      &:hover {
        text-decoration: underline;
      }
    }
    &:hover {
      &::after {
        text-decoration: underline;
      }
    }
    &.active {
      top: 0;
      transform: translateY(-20px) translateX(-50%);
      transition: transform 0.2s ease, top 0.5s ease-in 0.2s;
      .rb-list {
        width: $list-width;
        transition: 0.2s width ease-in 0.9s;
      }
    }
    .rb-list {
      color: $list-color;
      font-family: 'Parisienne', cursive;
      font-size: $list-font-size;
      text-decoration: none;
      background-color: $list-bg;
      width: 0;
      height: $list-height;
      line-height: $list-height;
      border: solid 5px $list-border-color;
      padding: 0 10px;
      display: block;
      overflow: hidden;
      position: absolute;
      top: 50%;
      box-sizing: border-box;
      box-shadow: $menu-shadow;
      transition: 0.2s width ease-out;
      &:nth-child(odd) {
        padding: 0 10px 0 0;
        text-align: right;
        right: 0;
      }
      &:nth-child(even) {
        padding: 0 0 0 10px;
        text-align: left;
        left: 0
      }
      &:nth-child(2) {
        transform: rotate(20deg) translate(-70%, -50%);
      }
      &:nth-child(3) {
        transform: rotate(-20deg) translate(70%, -50%);
      }
      &:nth-child(4) {
        transform: rotate(-20deg) translate(-60%, -50%);
      }
      &:nth-child(5) {
        transform: rotate(20deg) translate(60%, -50%);
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

html, body, .random-content {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.random-content {
  font-family: 'Parisienne', cursive;
  font-size: 28px;
  padding: 20px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
</style>
</head>
<body>
<nav>
  <div id="rb_menu" class="rb-menu">
    <a href="#" id="rb_menu_toggle" class="rb-toggle" rb-target="#rb_menu">Menu</a>
    <a href="#" class="rb-list">Home</a>
    <a href="#" class="rb-list">Services</a>
    <a href="#" class="rb-list">About</a>
    <a href="#" class="rb-list">Contact</a>
  </div>
</nav>
<div class="random-content">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
<script>
'use strict';

var RbMenu = function(elmId) {
  var elm    = document.querySelector(elmId);
  console.log(elm);
  var target = document.querySelector(elm.getAttribute('rb-target'));

  elm.addEventListener('click', function(evt) {
    if (target.classList.contains('active') === true) {
      target.classList.remove('active');
    }
    else {
      target.classList.add('active');
    }
  });
}

RbMenu('#rb_menu_toggle');
</script>

</body>
