*, *::after, *::before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin:0;padding:0;}
@font-face {font-family: 'myraid';src: url('../fonts/MyriadRegular.ttf');font-weight: normal;font-style: normal;}
body {line-height: 1.7;color: #4d4d4d;font-weight: 400;font-family: myraid;font-size: 1rem; }
.main {min-height: 100vh;display: -ms-flexbox;display: flex;-ms-flex-pack: center;justify-content: center;padding:0;margin:0;background:url("../images/tekanza_blow.png");background-position:center;background-size: cover;background-repeat:no-repeat;background-color:rgba(0,0,0,.12);position:relative;overflow:hidden;}
input[type="number"],select{-webkit-appearance: textfield !important;outline-offset: -2px!important;}
.main .ov{position:absolute;left:0;right:0;width:100%;height:100%;background:rgba(10,50,100,.75);display: -ms-flexbox;display: flex;-ms-flex-pack: center;justify-content: center;}
.main .info {width: 100%;display:block;text-align:center;font-size:32px;color:#fff;max-width: 650px;padding-top: 24vh;text-transform:uppercase;}
.main .info .p {font-size:24px;margin-top: 24px;}
.contact {width: 100%;position:fixed;text-align:center;font-size:14px;color:#fff;bottom:0;left:0;padding:15px;background:rgba(0,0,0,.25);border-top:1.5px solid #fff;}
.ol{margin-left:35px;}
.loader,
.loader:before,
.loader:after {
border-radius: 50%;
width: 2.5em;
height: 2.5em;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation: load7 1.8s infinite ease-in-out;
animation: load7 1.8s infinite ease-in-out;
}
.loader {
color: #009fd1;
font-size: 10px;
margin: 80px auto;
position: relative;
text-indent: -9999em;
-webkit-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);
-webkit-animation-delay: -0.16s;
animation-delay: -0.16s;
}
.loader:before,
.loader:after {
content: '';
position: absolute;
top: 0;
}
.loader:before {
left: -3.5em;
-webkit-animation-delay: -0.32s;
animation-delay: -0.32s;
}
.loader:after {
left: 3.5em;
}
@-webkit-keyframes load7 {
0%,
80%,
100% {
box-shadow: 0 2.5em 0 -1.3em;
}
40% {
box-shadow: 0 2.5em 0 0;
}
}
@keyframes load7 {
0%,
80%,
100% {
box-shadow: 0 2.5em 0 -1.3em;
}
40% {
box-shadow: 0 2.5em 0 0;
}
}

.ckhh{width:100%;padding:15px;overflow:hidden;}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 156px;
  height: 156px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #7ac142;
  stroke-miterlimit: 10;
  margin: 5% auto;
  /*box-shadow: inset 0px 0px 0px #7ac142;*/
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    /*box-shadow: inset 0px 0px 0px 30px #7ac142;*/
  }
}

#dv0, #dv, .bw-ew,.bw-e,.temp1,.temp2,.temp3{ display:none; }
.bpw.p,.bw-ew.b,.bw-ew.e,.bw-e.b,.temp1.pw,.temp2.bw,.temp3.ew{ display:inline-block; }
.bw-ew:nth-child(1){ display:inline-block; }
.switch {position: relative;display: block;width: 100%;}
.switch input {opacity: 0; width: 0; height: 0;}.slider {position: absolute;width:50px;height:25px;right:0;border-radius:20px;top:calc(50% - 15px);background-color: #ccc;-webkit-transition: .4s;transition: .4s;}.slider:before {position: 
absolute;content: "";height: 17px;width: 17px;left: 4px;border-radius:50%;bottom:4px; background-color: #efefef;-webkit-transition: .4s;transition: .4s;}
input:checked + .slider { background-color: #2196F3;}input:checked + .slider:before {-webkit-transform: translateX(25px); -ms-transform: translateX(25px);transform: translateX(25px);}
.over_out{ position:fixed;top:0;left:0;width:100%;height:100%;z-index:909090909;background:rgba(0,0,0,.65);}
.over_out .close{position:fixed;top:10px;right:10px;width:50px;height:50px;font-size:50px;display:block;} .over_out img{width:100%;max-width:800px;max-height:500px;display:block;margin:0 auto;} .over_out .text{width:100%;max-width:800px;display:block;margin:25px auto;font-size:15px;}
