@font-face {
  font-family: 'myraid';
  src: url('../../fonts/MyriadRegular.ttf');
  font-weight: normal;
  font-style: normal;
}
body {
  line-height: 1.7;
  color: #4d4d4d;
  font-weight: 400;
  font-family: myraid;
  font-size: 1rem; }
		div
		{
		display: block;
		position: relative;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		}
		ul
		{
		margin-bottom: 0px;
		}
		p
		{
		font-family: inherit;
		font-weight:normal;
		font-size: 14px;
		line-height: 1.85;
		font-weight: 400;
		color: #;
		-webkit-font-smoothing: antialiased;
		-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
		}
		
		p a
		{
		display: inline;
		position: relative;
		color:;
		/*border-bottom: solid 1px #009fd1;*/
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		p:last-of-type
		{
		margin-bottom: 0;
		}
		
		p a:hover::after
		{
		opacity: 0.2;
		}
		::selection
		{

		}
		p::selection
		{

		}
		h1{font-size: 48px;}
		h2{font-size: 36px;}
		h3{font-size: 24px;}
		h4{font-size: 18px;}
		h5{font-size: 14px;}
		h1, h2, h3, h4, h5, h6
		{
		font-family: inherit;
		font-weight: 700;
		-webkit-font-smoothing: antialiased;
		-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
		color: ;
		margin-bottom: 0;
		}
		h1::selection, 
		h2::selection, 
		h3::selection, 
		h4::selection, 
		h5::selection, 
		h6::selection
		{

		}
		.form-control
		{
		color: #db5246;
		}
		section
		{
		display: block;
		position: relative;
		box-sizing: border-box;
		}
		.clear
		{
		clear: both;
		}
		.clearfix::before, .clearfix::after
		{
		content: "";
		display: table;
		}
		.clearfix::after
		{
		clear: both;
		}
		.clearfix
		{
		zoom: 1;
		}
		.float_left
		{
		float: left;
		}
		.float_right
		{
		float: right;
		}
		.trans_200
		{
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.trans_300
		{
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
		}
		.trans_400
		{
		-webkit-transition: all 400ms ease;
		-moz-transition: all 400ms ease;
		-ms-transition: all 400ms ease;
		-o-transition: all 400ms ease;
		transition: all 400ms ease;
		}
		.trans_500
		{
		-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
		}
		.fill_height
		{
		height: 100%;
		}
		.super_container
		{
		width: 100%;
		overflow: hidden;
		}
		.prlx_parent
		{
		overflow: hidden;
		}
		.prlx
		{
		height: 130% !important;
		}
		.parallax-window
		{
		min-height: 400px;
		background: transparent;
		}
		.nopadding
		{
		padding: 0px !important;
		}


		.header_container
		{
		width: 100%;
		background: #FFFFFF;
		}
		.header_content
		{
		height: 90px;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.header.scrolled .header_content
		{
		height: 80px;
		}

		/*********************************
		3.3 Logo
		*********************************/

		.logo,
		.logo_text
		{
		overflow-x:0;

		}
		.logo
		{
		width: 60px;
		height: 60px;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.logo img
		{
		max-width: 100%;
		}
		.logo_text
		{
		font-family: inherit;
		font-size: 36px;
		font-weight: 700;
		line-height: 0.75;
		color: #;
		vertical-align: middle;
		margin-left: 7px;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.logo_text span
		{
		color: var(--green);
		}
		.header .logo
		{
		width: 40px;
		height: 40px;
		}
		.header .logo_text>img
		{
		overflow-x:0;
		width:80px;
		height:80px;
		font-size: 14px;
		}
		.fa{font-size:20px; color:;}
		/*********************************
		3.4 Main Nav
		*********************************/

		.main_nav_contaner
		{

		}
		.main_nav,
		.search_button,
		.shopping_cart
		{
		display: inline-block;
		}
		.main_nav li
		{
		display: inline-block;
		position: relative;
		}
		.main_nav li:not(:last-child)
		{
		margin-right: 44px;
		}
		.main_nav li a
		{
		font-size: 18px;
		font-weight: 500;
		color: #;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.main_nav li a:hover,
		.main_nav li.active a
		{
		
		}
		.main_nav li.active::after
		{
		display: block;
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 100%;
		height: 2px;
		background: linear-gradient(90deg, #fff, #009fd1);
		content: '';
		}
		.search_button
		{
		margin-left: 46px;
		cursor: pointer;
		}
		.shopping_cart
		{
		margin-left: 23px;
		cursor: pointer;
		}
		.search_button i,
		.shopping_cart i
		{
		font-size: 18px;
		color: #181818;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.search_button:hover i,
		.shopping_cart:hover i
		{
		color: var(--green);
		}
		.header_search_form
		{
		display: block;
		position: relative;
		width: 40%;
		}
		.header_search_container
		{
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		background: var(--green);
		z-index: -1;
		opacity: 0;
		-webkit-transition: all 400ms ease;
		-moz-transition: all 400ms ease;
		-ms-transition: all 400ms ease;
		-o-transition: all 400ms ease;
		transition: all 400ms ease;
		}
		.header_search_container.active
		{
		bottom: -73px;
		opacity: 1;
		}
		.header_search_content
		{
		width: 100%;
		height: 73px;
		}
		.search_input
		{
		width: 100%;
		height: 40px;
		border: none;
		outline: none;
		padding-left: 20px;
		}
		.header_search_button
		{
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 100%;
		border: none;
		outline: none;
		cursor: pointer;
		}

		/*********************************
		3.5 Hamburger
		*********************************/

		.hamburger_container
		{

		}
		.hamburger
		{
		display: none;
		cursor: pointer;
		}
		.hamburger i
		{
		font-size: 20px;
		color: #353535;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.hamburger:hover i
		{
		color: var(--green);
		}

		/*********************************
		4. Menu
		*********************************/

		.menu
		{
		position: fixed;
		top: 0;
		right: -400px;
		width: 400px;
		height: 100vh;
		background: #FFFFFF;
		z-index: 101;
		padding-right: 60px;
		padding-top: 87px;
		padding-left: 50px;
		}
		.menu .logo a
		{
		color: #000000;
		}
		.menu.active
		{
		right: 0;
		}
		.menu_close_container
		{
		position: absolute;
		top: 30px;
		right: 60px;
		width: 18px;
		height: 18px;
		transform-origin: center center;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		cursor: pointer;
		}
		.menu_close
		{
		width: 100%;
		height: 100%;
		transform-style: preserve-3D;
		}
		.menu_close div
		{
		width: 100%;
		height: 2px;
		background: #232323;
		top: 8px;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.menu_close div:last-of-type
		{
		-webkit-transform: rotate(90deg) translateX(-2px);
		-moz-transform: rotate(90deg) translateX(-2px);
		-ms-transform: rotate(90deg) translateX(-2px);
		-o-transform: rotate(90deg) translateX(-2px);
		transform: rotate(90deg) translateX(-2px);
		transform-origin: center;
		}
		.menu_close:hover div
		{
		background: #937c6f;
		}
		.menu .logo
		{
		margin-bottom: 60px;
		}
		.menu_nav ul li
		{
		margin-bottom: 9px;
		}
		.menu_nav ul li a
		{
		font-family: inherit;
		font-size: 14px;
		text-transform: uppercase;
		color: rgba(0,0,0,1);
		font-weight: 700;
		letter-spacing: 0.1em;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.menu_nav ul li a:hover
		{
		color: linear-gradient(90deg, #fff, #009fd1);
		}
		.menu .search
		{
		width: 100%;
		margin-bottom: 67px;
		}
		.search
		{
		display: inline-block;
		width: 400px;
		-webkit-transform: translateY(2px);
		-moz-transform: translateY(2px);
		-ms-transform: translateY(2px);
		-o-transform: translateY(2px);
		transform: translateY(2px);
		}
		.menu .header_search_form
		{
		width: 100%;
		}
		.search form
		{
		position: relative;
		}
		.menu .search_input
		{
		width: 100%;
		height: 40px;
		background: rgba(0,0,0,0.1);
		border-radius: 3px;
		border: none;
		outline: none;
		padding-left: 15px;
		color: rgba(0,0,0,0.5);
		}
		.menu .search_input::-webkit-input-placeholder
		{
		font-family: inherit;
		font-size: 14px !important;
		font-weight: 400 !important;
		color: rgba(0,0,0,0.4) !important;
		}
		.menu .search_input:-moz-placeholder
		{
		font-family: inherit;
		font-size: 14px !important;
		font-weight: 400 !important;
		color: rgba(0,0,0,0.4) !important;
		}
		.menu .search_input::-moz-placeholder
		{
		font-family: inherit;
		font-size: 14px !important;
		font-weight: 400 !important;
		color: rgba(0,0,0,0.4) !important;
		} 
		.menu .search_input:-ms-input-placeholder
		{ 
		font-family: inherit;
		font-size: 14px !important;
		font-weight: 400 !important;
		color: rgba(0,0,0,0.4) !important;
		}
		.menu .search_input::input-placeholder
		{
		font-family: inherit;
		font-size: 14px !important;
		font-weight: 400 !important;
		color: rgba(0,0,0,0.4) !important;
		}

		/*********************************
		5. Section
		*********************************/

		.section_title_container
		{
		max-width: 600px;
		margin: 0 auto;
		}
		.section_title
		{
		line-height: 1.2;
		}
		.section_subtitle
		{
		line-height: 1.85;
		margin-top: 14px;
		font-family:inherit;
		}
		.section_background
		{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		}

		/*********************************
		6. Home
		*********************************/

		.home
		{
		width: 100%;
		height: 850px;
		}
		.home--
		{
		width: 100%;
		height: 182px;
		background: #f2f4f5;
		border-bottom: solid 1px #edeff0;
		}
		.breadcrumbs_container
		{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding-bottom: 13px;
		padding-left: 3px;
		}
		.breadcrumbs ul li
		{
		display: inline-block;
		position: relative;
		}
		.breadcrumbs ul li:not(:last-child)::after
		{
		display: inline-block;
		font-family: 'FontAwesome';
		content: '\f105';
		margin-left: 7px;
		margin-right: 4px;
		color: #384158;
		}
		.breadcrumbs ul li a
		{
		font-size: 14px;
		font-weight: 400;
		color: #384158;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.breadcrumbs ul li a:hover
		{
		color: var(--green);
		}
		.home_slider_container
		{
		width: 100%;
		height: 100%;
		}
		.home_slider
		{
		width: 100%;
		height: 100%;
		}
		.home_slider_background
		{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: ;
		background-position: center center;
		}
		.home_slider_content
		{
		position: absolute;
		bottom: 1%;
		left: 0;
		width: 100%;
		height: auto;
		}
		.home_slider_title
		{
		font-family: inherit;
		font-size: 50px;
		font-weight: 700;
		line-height: 1.2;
		color: var(--green);
		text-shadow:var(--red) 0 2px;
		}
		.home_slider_subtitle
		{
		font-size: 24px;
		color: #fff;
		margin-top: 9px;
		text-shadow:var(--red) 0 0 2px;
		}
		.home_slider_form_container
		{
		width: 832px;
		margin: 0 auto;
		margin-top: 35px;
		}
		.home_search_form div
		{
		width: calc(100% - 140px);
		height: 46px;
		background: #FFFFFF;
		border-radius: 3px;
		}
		.home_search_input
		{
		width: 33.33333333%;
		border: none;
		outline: none;
		height: 25px;
		padding-left: 20px;
		}
		.home_search_input:not(:last-child)
		{
		border-right: solid 1px #e5e5e5;
		}
		.home_search_input::-webkit-input-placeholder
		{
		font-family: inherit;
		font-size: 14px !important;
		font-weight: 400 !important;
		color: #b5b8be !important;
		}
		.home_search_input:-moz-placeholder
		{
		font-family: inherit;
		font-size: 14px !important;
		font-weight: 400 !important;
		color: #b5b8be !important;
		}
		.home_search_input::-moz-placeholder
		{
		font-family: inherit;
		font-size: 14px !important;
		font-weight: 400 !important;
		color: #b5b8be !important;
		} 
		.home_search_input:-ms-input-placeholder
		{ 
		font-family: inherit;
		font-size: 14px !important;
		font-weight: 400 !important;
		color: #b5b8be !important;
		}
		.home_search_input::input-placeholder
		{
		font-family: inherit;
		font-size: 14px !important;
		font-weight: 400 !important;
		color: #b5b8be !important;
		}
		.dropdown_item_select
		{
		position: relative;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
		-webkit-user-select: none;
		background-image: url(../images/down.png);
		background-position: center right;
		background-repeat: no-repeat;
		padding-right: 20px;
		padding-left: 20px;
		}
		.home_search_button
		{
		width: 120px;
		height: 46px;
		background: var(--green);
		border: none;
		outline: none;
		border-radius: 3px;
		font-size: 14px;
		font-weight: 500;
		color: #FFFFFF;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		cursor: pointer;
		}
		.home_slider_nav
		{
		position: absolute;
		top: 55.8%;
		width: 50px;
		background: #b6b7bd;
		border-radius: 50%;
		text-align: center;
		z-index: 10;
		cursor: pointer;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.home_slider_prev
		{
		left: 75px;
		}
		.home_slider_next
		{
		right: 75px;
		}
		.home_slider_nav i
		{
		line-height: 50px;
		color: #FFFFFF;
		font-size: 22px;
		}
		.home_slider_nav:hover
		{
		background: var(--green);
		}
		/*********************************
		Courses
		*********************************/
		.courses
		{
		width: 100%;
		padding-top: 100px;
		padding-bottom: 100px;
		}
		.courses_search_container
		{
		padding-left: 20px;
		padding-right: 20px;
		background: #f2f4f5;
		}
		.courses_search_form
		{
		width: 100%;
		height: 92px;
		}
		.courses_search_input
		{
		width: 240px;
		height: 46px;
		border: solid 1px #d9d9d9;
		border-radius: 3px;
		background: #FFFFFF;
		padding-left: 20px;
		}
		.courses_search_input:focus
		{
		outline: solid 1px var(--green);
		}
		.courses_search_form > input
		{
		margin-right: 19px;
		}
		.courses_search_select
		{
		position: relative;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
		-webkit-user-select: none;
		background-image: url(../images/down.png);
		background-position: center right;
		background-repeat: no-repeat;
		cursor: pointer;
		}
		.courses_search_button
		{
		width: 161px;
		height: 46px;
		background: var(--green);
		color: #FFFFFF;
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
		border: none;
		outline: none;
		border-radius: 3px;
		cursor: pointer;
		}
		.courses_row
		{
		margin-top: 25px;
		}
		.course_col
		{
		margin-bottom: 51px;
		}
		.course
		{
		width: 100%;
		border-radius: 6px;
		background: #FFFFFF;
		box-shadow: 0px 1px 10px rgba(29,34,47,0.1);
		}
		.course_col:nth-child(odd)
		{
		padding-right: 30px;
		}
		.course_col:nth-child(even)
		{
		padding-left: 30px;
		}
		.course_image
		{
		width: 100%;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		overflow: hidden;
		}
		.course_image img
		{
		max-width: 100%;
		}
		.course_body
		{
		padding-top: 22px;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 23px;
		}
		.course_title
		{

		}
		.course_title a
		{
		font-family: inherit;
		font-size: 20px;
		color: #384158;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.course_title a:hover
		{
		color: var(--green);
		}
		.course_teacher
		{
		font-size: 15px;
		font-weight: 400;
		color: #384158;
		margin-top: 6px;
		}
		.course_text
		{
		margin-top: 13px;
		}
		.course_footer
		{
		padding-left: 30px;
		padding-right: 30px;
		}
		.course_footer_content
		{
		width: 100%;
		border-top: solid 1px #e5e5e5;
		padding-top: 9px;
		padding-bottom: 11px;
		}
		.course_info
		{
		display: inline-block;
		font-size: 14px;
		font-weight: 400;
		color: #55555a;
		}
		.course_info:first-child
		{
		margin-right: 18px;
		}
		.course_info i
		{
		color: #ffc80a;
		}
		.course_price
		{
		font-family: inherit;
		font-size: 20px;
		font-weight: 700;
		color: var(--green);
		}
		.course_price span
		{
		font-family: inherit;
		font-size: 14px;
		font-weight: 400;
		text-decoration: line-through;
		color: #b5b8be;
		margin-right: 10px;
		}
		.courses_button
		{
		width: 210px;
		height: 46px;
		border-radius: 3px;
		background: var(--green);
		text-align: center;
		margin: 0 auto;
		margin-top: 41px;
		box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
		}
		.courses_button:hover
		{
		box-shadow: 0px 5px 40px rgba(29,34,47,0.45);
		}
		.courses_button a
		{
		display: block;
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 46px;
		color: #FFFFFF;
		}
		.pagination_row
		{
		margin-top: 11px;
		}
		.pagination_container
		{

		}
		.pagination_list li
		{
		display: inline-block;
		width: 40px;
		height: 40px;
		background: #FFFFFF;
		border: solid 1px #ebebeb;
		text-align: center;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.pagination_list li:not(:last-child)
		{
		margin-right: 5px;
		}
		.pagination_list li:hover,
		.pagination_list li.active
		{
		background: var(--green);
		}
		.pagination_list li a
		{
		display: block;
		position: relative;
		font-size: 16px;
		font-weight: 400;
		color: #757686;
		line-height: 40px;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.pagination_list li:hover a,
		.pagination_list li.active a
		{
		color: #FFFFFF;
		}
		.courses_show_text
		{
		display: inline-block;
		}
		.courses_show_content
		{
		display: inline-block;
		width: 144px;
		border: solid 1px #ecedee;
		}
		.courses_show_content span
		{
		line-height: 40px;
		padding-left: 20px;
		font-size: 16px;
		color: #384158;
		}
		.courses_show_text
		{
		font-size: 16px;
		font-weight: 400;
		color: #384158;
		margin-right: 16px;
		}
		.courses_show_select
		{
		position: relative;
		float: right;
		width: 50px;
		height: 40px;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
		-webkit-user-select: none;
		background-image: url(../images/down.png);
		background-position: center right;
		background-repeat: no-repeat;
		cursor: pointer;
		font-size: 16px;
		color: #384158;
		border: none;
		outline: none;
		}
		.courses_show_select option
		{
		padding-left: 20px;
		text-align: right;
		}

		/*********************************
		8. Sidebar
		*********************************/

		.sidebar
		{
		width: 100%;
		padding-left: 40px;
		}
		.sidebar_section:not(:last-child)
		{
		margin-bottom: 60px;
		}
		.sidebar_section_title
		{
		font-family: inherit;
		font-size: 24px;
		font-weight: 700;
		color: #384158;
		line-height: 0.75;
		}
		.sidebar_categories
		{
		margin-top: 16px;
		}
		.sidebar_categories ul li
		{
		position: relative;
		width: 100%;
		height: 51px;
		}
		.sidebar_categories ul li:not(:last-of-type)
		{
		border-bottom: solid 1px #e5e5e5;
		}
		.sidebar_categories ul li a
		{
		display: block;
		position: relative;
		font-size: 14px;
		color: #76777a;
		line-height: 51px;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.sidebar_categories ul li a::before
		{
		display: inline-block;
		position: relative;
		font-family: 'FontAwesome';
		content: '\f101';
		margin-right: 4px;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.sidebar_categories ul li:hover a,
		.sidebar_categories ul li:hover a::before
		{
		color: var(--green);
		}
		.sidebar_latest
		{
		margin-top: 31px;
		}
		.latest:not(:last-child)
		{
		margin-bottom: 20px;
		}
		.latest_image div
		{
		width: 90px;
		height: 74px;
		border-radius: 3px;
		overflow: hidden;
		}
		.latest_image div img
		{
		max-width: 100%;
		}
		.latest_content
		{
		padding-left: 21px;
		margin-top: -4px;
		}
		.latest_title a
		{
		font-family: inherit;
		font-size: 16px;
		font-weight: 700;
		color: #383749;
		line-height: 1.625;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.latest_title a:hover
		{
		color: var(--green);
		}
		.latest_price
		{
		font-family: inherit;
		font-size: 14px;
		font-weight: 700;
		color: var(--green);
		line-height: 0.75;
		margin-top: 16px;
		}
		.sidebar_gallery
		{
		margin-top: 34px;
		}
		.gallery_item
		{
		position: relative;
		width: calc((100% - 36px) / 3);
		margin-bottom: 18px;
		cursor: pointer;
		}
		.gallery_item img
		{
		width: 100%;
		}
		.gallery_item_overlay
		{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(20,189,238,0.7);
		opacity: 0;
		pointer-events: none;
		font-size: 33px;
		font-weight: 300;
		color: #FFFFFF;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.gallery_item:hover .gallery_item_overlay
		{
		opacity: 1;
		}
		.colorbox
		{
		outline: none;
		}
		.sidebar_tags
		{
		margin-top: 40px;
		}
		.tags_list li
		{
		display: inline-block;
		padding-left: 19px;
		padding-right: 18px;
		background: #f2f4f5;
		border-radius: 3px;
		margin-bottom: 10px;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.tags_list li:not(:last-child)
		{
		margin-right: 5px;
		}
		.tags_list li:hover
		{
		background: var(--green);
		}
		.tags_list li:hover a
		{
		color: #FFFFFF;
		}
		.tags_list li a
		{
		display: block;
		font-size: 12px;
		color: #76777a;
		text-transform: uppercase;
		line-height: 30px;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.sidebar_banner
		{
		width: 100%;
		height: 213px;
		}
		.sidebar_banner_background
		{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		}
		.sidebar_banner_overlay
		{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--green);
		opacity: 0.7;
		}
		.banner_title
		{
		font-family: inherit;
		font-size: 20px;
		font-weight: 700;
		color: #FFFFFF;
		line-height: 0.75;
		}
		.banner_button
		{
		width: 200px;
		height: 46px;
		background: #FFFFFF;
		border-radius: 3px;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.banner_button a
		{
		display: block;
		color: var(--green);
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.1em;
		margin-left: -0.1em;
		text-transform: uppercase;
		line-height: 46px;
		margin-top: 21px;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.banner_button:hover
		{
		background: var(--green);
		}
		.banner_button:hover a
		{
		color: #FFFFFF;
		}
		/*********************************
		7. Features
		*********************************/

		.features
		{
		width: 100%;
		background: #FFFFFF;
		padding-top: 93px;
		padding-bottom: 103px;
		}
		.features_row
		{
		margin-top: 55px;
		}
		.feature
		{
		width: 100%;
		padding-top: 30px;
		padding-bottom: 28px;
		padding-left: 15px;
		padding-right: 15px;
		background: #FFFFFF;
		}
		.feature:hover
		{
		box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
		}
		.feature_icon
		{
		height: 55px;
		}
		.feature_icon img, .feature_icon span
		{
		max-width: 100%;
		font-size:55px;
		color:rgba(12,215,100,1);
		text-shadow:0 3px 8px rgba(212,15,100,1);
		}
		.feature_title
		{
		position: relative;
		font-size: 20px;
		margin-top: 23px;
		}

		/*********************************
		+1. About
		*********************************/


		.about
		{
		width: 100%;
		padding-top: 93px;
		padding-bottom: 100px;
		background: #FFFFFF;
		}
		.about_row
		{
		margin-top: 56px;
		}
		.about_col_left
		{
		padding-right: 25px;	
		}
		.about_col_right
		{
		padding-left: 25px;
		}
		.about_col_middle
		{
		padding-left: 20px;
		padding-right: 20px;
		}
		.about_item_image
		{
		width: 100%;
		overflow: hidden;
		}
		.about_item_image img
		{
		max-width: 100%;
		-webkit-transition: all 2000ms ease;
		-moz-transition: all 2000ms ease;
		-ms-transition: all 2000ms ease;
		-o-transition: all 2000ms ease;
		transition: all 2000ms ease;
		}
		.about_item:hover .about_item_image img
		{
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
		}
		.about_item_title
		{
		margin-top: 22px;
		}
		/8888
		.about_item_title a
		{
		font-family: inherit;
		font-size: 20px;
		font-weight: 700;
		color: #384158;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.about_item_title a:hover
		{
		color: ;
		}
		.about_item_text
		{
		margin-top: 12px;
		}
		.about_item_text
		{
		line-height: 2;
		}



		/*********************************
		8. Courses
		*********************************/

		.courses
		{
		width: 100%;
		padding-top: 93px;
		padding-bottom: 100px;
		}
		.courses_row
		{
		margin-top: 45px;
		}
		.course
		{
		width: 100%;
		border-radius: 6px;
		background: #FFFFFF;
		box-shadow: 0px 1px 10px rgba(29,34,47,0.1);
		}
		.course_image
		{
		width: 100%;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		overflow: hidden;
		}
		.course_image img
		{
		max-width: 100%;
		}
		.course_body
		{
		padding-top: 22px;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 23px;
		}
		.course_title a
		{
		font-family: inherit;
		font-size: 20px;
		color: #384158;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.course_title a:hover
		{
		color: var(--green);
		}
		.course_teacher
		{
		font-size: 15px;
		font-weight: 400;
		color: #384158;
		margin-top: 6px;
		}
		.course_text
		{
		margin-top: 13px;
		}
		.course_footer
		{
		padding-left: 30px;
		padding-right: 30px;
		}
		.course_footer_content
		{
		width: 100%;
		border-top: solid 1px #e5e5e5;
		padding-top: 9px;
		padding-bottom: 11px;
		}
		.course_info
		{
		display: inline-block;
		font-size: 14px;
		font-weight: 400;
		color: #55555a;
		}
		.course_info:first-child
		{
		margin-right: 18px;
		}
		.course_info i
		{
		color: #ffc80a;
		}
		.course_price
		{
		font-family: inherit;
		font-size: 20px;
		font-weight: 700;
		color: var(--green);
		}
		.course_price span
		{
		font-family: inherit;
		font-size: 14px;
		font-weight: 400;
		text-decoration: line-through;
		color: #b5b8be;
		margin-right: 10px;
		}
		.courses_button
		{
		width: 210px;
		height: 46px;
		border-radius: 3px;
		background: var(--green);
		text-align: center;
		margin: 0 auto;
		margin-top: 41px;
		box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
		}
		.courses_button:hover
		{
		box-shadow: 0px 5px 40px rgba(29,34,47,0.45);
		}
		.courses_button a
		{
		display: block;
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 46px;
		color: #FFFFFF;
		}

		/*********************************
		9. Counter
		*********************************/

		.counter
		{
		width: 100%;
		background: #FFFFFF;
		z-index: 2;
		}
		.counter_background
		{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		}
		.counter_content
		{
		padding-top: 119px;
		padding-bottom: 125px;
		}
		.counter_title
		{
		font-family: inherit;
		color: #FFFFFF;
		font-weight: 700;
		}
		.counter_text
		{
		margin-top: 19px;
		}
		.counter_text p
		{
		color: #FFFFFF;
		}
		.milestones
		{
		margin-top: 39px;
		}
		.milestone
		{
		text-align: center;
		}
		.milestone:not(:last-child)::after
		{
		display: block;
		position: absolute;
		top: 0;
		right: -45px;
		width: 1px;
		height: 70px;
		background: rgba(255,255,255,0.2);
		content: '';
		-webkit-transform: rotate(30deg);
		-moz-transform: rotate(30deg);
		-ms-transform: rotate(30deg);
		-o-transform: rotate(30deg);
		transform: rotate(30deg);

		}
		.milestone_counter
		{
		font-size: 42px;
		font-weight: 700;
		line-height: 0.75;
		color: var(--green);
		}
		.milestone_text
		{
		font-size: 16px;
		font-weight: 400;
		color: #FFFFFF;
		text-transform: uppercase;
		margin-top: 14px;
		}
		.counter_form
		{
		position: absolute;
		top: 0;
		right: 30px;
		width: 380px;
		height: 100%;
		background: #FFFFFF;
		padding-left: 40px;
		padding-right: 40px;
		box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
		}
		.counter_form_content
		{
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		}
		.counter_form_title
		{
		font-family: inherit;
		font-size: 24px;
		font-weight: 700;
		color: #384158;
		text-transform: uppercase;
		line-height: 0.75;
		margin-bottom: 41px;
		}
		.counter_input
		{
		width: 100%;
		height: 46px;
		border: solid 1px #e5e5e5;
		border-radius: 3px;
		padding-left: 20px;
		outline: none;
		color: #384158;
		font-size: 14px;
		}
		.counter_input:not(:last-child)
		{
		margin-bottom: 10px;
		}
		.counter_text_input
		{
		height: 90px;
		padding-top: 10px;
		}
		.counter_options
		{
		position: relative;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		appearance: none;
		-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
		-webkit-user-select: none;
		background-image: url(../images/down.png);
		background-position: center right;
		background-repeat: no-repeat;
		}
		.counter_input::-webkit-input-placeholder,
		.counter_text_input::-webkit-input-placeholder
		{
		font-size: 14px !important;
		font-weight: 400 !important;
		color: #b5b8be !important;
		}
		.counter_input:-moz-placeholder,
		.counter_text_input:-moz-placeholder
		{
		font-size: 14px !important;
		font-weight: 400 !important;
		color: #b5b8be !important;
		}
		.counter_input::-moz-placeholder,
		.counter_text_input::-moz-placeholder
		{
		font-size: 14px !important;
		font-weight: 400 !important;
		color: #b5b8be !important;
		} 
		.counter_input:-ms-input-placeholder,
		.counter_text_input:-ms-input-placeholder
		{ 
		font-size: 14px !important;
		font-weight: 400 !important;
		color: #b5b8be !important;
		}
		.counter_input::input-placeholder,
		.counter_text_input::input-placeholder
		{
		font-size: 14px !important;
		font-weight: 400 !important;
		color: #b5b8be !important;
		}
		.counter_form_button
		{
		width: 100%;
		height: 46px;
		color: #FFFFFF;
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
		border: none;
		outline: none;
		background: var(--green);
		cursor: pointer;
		margin-top: 30px;
		box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.counter_form_button:hover
		{
		box-shadow: 0px 5px 40px rgba(29,34,47,0.45);
		}

		/*********************************
		10. Events
		*********************************/

		.events
		{
		width: 100%;
		padding-top: 93px;
		padding-bottom: 70px;
		background: #FFFFFF;
		}
		.events_row
		{
		margin-top: 47px;
		}
		.event_left
		{
		padding-right: 20px;
		}
		.event_mid
		{
		padding-left: 10px;
		padding-right: 10px;
		}
		.event_right
		{
		padding-left: 20px;
		}
		.event_image
		{
		width: 100%;
		border-radius: 5px;
		overflow: hidden;
		}
		.event_image img
		{
		max-width: 100%;
		}
		.event_body
		{
		padding-top: 30px;
		padding-bottom: 30px;
		}
		.event_date
		{
		box-shadow: 0px 1px 10px rgba(29, 34, 47, 0.1);
		}
		.event_date > div
		{
		width: 60px;
		height: 60px;
		}
		.event_day
		{
		font-family: inherit;
		font-size: 24px;
		color: var(--green);
		font-weight: 700;
		line-height: 0.75;
		}
		.event_month
		{
		font-family: inherit;
		font-size: 14px;
		color: var(--green);
		font-weight: 400;
		line-height: 0.75;
		margin-top: 9px;
		}
		.event:hover .event_date > div
		{
		background: var(--green);
		}
		.event:hover .event_day,
		.event:hover .event_month
		{
		color: #FFFFFF;
		}
		.event_content
		{
		padding-left: 20px;
		}
		.event_title a
		{
		font-family: inherit;
		font-size: 20px;
		font-weight: 700;
		line-height: 1.4;
		color: #384158;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.event_title a:hover
		{
		color: var(--green);
		}
		.event_info_container
		{
		margin-top: 11px;
		}
		.event_info
		{
		display: inline-block;
		color: #b5b8be;
		font-size: 14px;
		}
		.event_info:not(:last-child)
		{
		margin-right: 17px;
		}
		.event_info span
		{
		margin-left: 4px;
		}
		.event_text
		{
		margin-top: 12px;
		}

		/*********************************
		11. Team
		*********************************/

		.team
		{
		width: 100%;
		padding-top: 93px;
		padding-bottom: 60px;
		}
		.team_background
		{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		}
		.team_row
		{
		margin-top: 43px;
		}
		.team_col
		{
		margin-bottom: 40px;
		}
		.team_item
		{
		width: 100%;
		}
		.team_image
		{
		width: 180px;
		height: 160px;
		border-radius: 6px;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: -86px;
		z-index: 5;
		}
		.team_image img
		{
		max-width: 100%;
		}
		.team_body
		{
		width: 100%;
		padding-top: 108px;
		padding-bottom: 24px;
		background: #FFFFFF;
		border-radius: 6px;
		box-shadow: 0px 1px 10px rgba(29,34,47,0.1);
		text-align: center;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.team_item:hover .team_body
		{
		box-shadow: 0px 5px 40px rgba(29,34,47,0.15);
		}
		.team_title a
		{
		font-family: inherit;
		font-size: 20px;
		font-weight: 700;
		color: #384158;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.team_title a:hover
		{
		color: var(--green);
		}
		.team_subtitle
		{
		font-size: 14px;
		font-weight: 400;
		color: #76777a;
		margin-top: 6px;
		}
		.social_list
		{
		margin-top: 16px;
		}
		.social_list ul li
		{
		display: inline-block;
		}
		.social_list ul li:not(:last-child)
		{
		margin-right: 10px;
		}
		.social_list ul li a i
		{
		font-size: 18px;
		color: #76777a;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.social_list ul li:hover a i
		{
		color: var(--green);
		}
		.team_col .team_item
		{
		padding-left: 6px;
		padding-right: 6px;
		}
		.team_col:first-child .team_item
		{
		padding-left: 0;
		padding-right: 6px;
		}
		.team_col:nth-child(4n) .team_item
		{
		padding-left: 6px;
		padding-right: 0;
		}

		/*********************************
		12. News
		*********************************/

		.news
		{
		width: 100%;
		padding-top: 93px;
		padding-bottom: 100px;
		background: #FFFFFF;
		}
		.news_row
		{
		margin-top: 55px;
		}
		.news_post_large_container
		{
		padding-right: 30px;
		}
		.news_post_large
		{
		width: 100%;
		}
		.news_post_image
		{
		width: 100%;
		border-radius: 6px;
		overflow: hidden;
		}
		.news_post_image img
		{
		max-width: 100%;
		}
		.news_post_large_title
		{
		margin-top: 23px;
		}
		.news_post_large_title a
		{
		font-family: inherit;
		font-size: 20px;
		font-weight: 700;
		color: ;
		line-height: 1.4;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.news_post_large_title a:hover
		{
		color: var(--green);
		}
		.news_post_meta
		{
		margin-top: 11px;
		}
		.news_post_meta ul li
		{
		display: inline-block;
		position: relative;
		}
		.news_post_meta ul li:not(:last-of-type)::after
		{
		display: inline-block;
		position: relative;
		content: '|';
		margin-left: 14px;
		margin-right: 11px;
		}
		.news_post_meta ul li a
		{
		font-size: 14px;
		font-weight: 400;
		color: #b5b8be;
		text-transform: uppercase;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.news_post_meta ul li a:hover
		{
		color: var(--green);
		}
		.news_post_text
		{
		margin-top: 13px;
		}
		.news_post_link
		{
		margin-top: 19px;
		}
		.news_post_link a
		{
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		color: #384158;
		text-decoration: underline;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.news_post_link a:hover
		{
		color: var(--green);
		}
		.news_posts_small
		{
		margin-top: -6px;
		}
		.news_post_small:not(:last-child)
		{
		padding-bottom: 31px;
		border-bottom: solid 1px #e5e5e5;
		}
		.news_post_small:not(:first-child)
		{
		padding-top: 29px;
		}
		.news_post_small_title a
		{
		font-family: inherit;
		font-size: 18px;
		font-weight: 700;
		line-height: 1.55;
		color: #384158;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.news_post_small_title a:hover
		{
		color: var(--green);
		}

		/*********************************
		13. Newsletter
		*********************************/

		.newsletter
		{
		width: 100%;
		}
		.newsletter_background
		{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		}
		.newsletter_container
		{
		width: 100%;
		height: 120px;
		}
		.newsletter_title
		{
		font-family: inherit;
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
		color: #FFFFFF;
		}
		.newsletter_subtitle
		{
		font-size: 14px;
		font-weight: 400;
		color: #FFFFFF;
		margin-top: 6px;
		}
		.newsletter_form_container
		{
		width: 450px;
		padding-left: 20px;
		}
		.newsletter_form
		{
		display: block;
		position: relative;
		width: 100%;
		}
		.newsletter_input
		{
		width: calc(100% - 136px);
		height: 40px;
		background: rgba(255,255,255,0.4);
		border: none;
		outline: none;
		padding-left: 20px;
		color: #FFFFFF;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		}
		.newsletter_input::-webkit-input-placeholder
		{
		font-size: 14px !important;
		font-weight: 400 !important;
		color: #FFFFFF !important;
		}
		.newsletter_input:-moz-placeholder
		{
		font-size: 14px !important;
		font-weight: 400 !important;
		color: #FFFFFF !important;
		}
		.newsletter_input::-moz-placeholder
		{
		font-size: 14px !important;
		font-weight: 400 !important;
		color: #FFFFFF !important;
		} 
		.newsletter_input:-ms-input-placeholder
		{ 
		font-size: 14px !important;
		font-weight: 400 !important;
		color: #FFFFFF !important;
		}
		.newsletter_input::input-placeholder
		{
		font-size: 14px !important;
		font-weight: 400 !important;
		color: #FFFFFF !important;
		}
		.newsletter_button
		{
		width: 136px;
		height: 40px;
		background: #FFFFFF;
		border-radius: 3px;
		border: none;
		outline: none;
		cursor: pointer;
		font-size: 14px;
		text-transform: uppercase;
		color: var(--green);
		font-weight: 500;
		letter-spacing: 0.1em;
		}

		/*********************************
		14. Footer
		*********************************/

		.footer
		{
		display: block;
		position: relative;
		width: 100%;
		background: #1e2434;
		padding-top: 94px;
		}
		.footer_background
		{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		}
		.footer_content
		{
		padding-bottom: 53px;
		}
		.footer_logo_text>img
		{
		width:80px;
		height:80px;
		font-family: inherit;
		font-size: 80em;
		font-weight: 700;
		line-height: 0.75;
		color: #FFFFFF;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.footer_logo_text span
		{
		color: var(--green);
		}
		.footer_title
		{
		font-family: inherit;
		font-size: 18px;
		font-weight: 700;
		color: #FFFFFF;
		line-height: 0.75;
		}
		.footer_logo_container
		{
		margin-top: -10px;
		font-size:35px;
		font-weight:700;
		}
		.footer_about_text
		{
		margin-top: 5px;
		}
		.footer_about_text p
		{
		color: #FFFFFF;
		font-family:inherit;
		}
		.footer_social
		{
		margin-top: 23px;
		}
		.footer_social ul li
		{
		display: inline-block;
		width: 45px;
		height: 45px;
		background: #4b505d;
		border-radius: 50%;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.footer_social ul li:not(:last-child)
		{
		margin-right: 6px;
		}
		.footer_social ul li a
		{
		display: block;
		position: relative;
		text-align: center;
		}
		.footer_social ul li a i
		{
		color: #FFFFFF;
		line-height: 45px;
		}
		.footer_social ul li:hover
		{
		background: var(--green);
		}
		.footer_contact
		{
		padding-left: 36px;
		}
		.footer_contact_info
		{
		margin-top: 33px;
		}
		.footer_contact_info >ul >li
		{
		font-size: 14px;
		font-weight: 200;
		color: #b5b8be;
		}
		.footer_contact_info ul li:not(:last-child)
		{
		margin-bottom: 15px;
		}
		.footer_links
		{
		padding-left: 80px;
		}
		.footer_links_container ul
		{
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
		}
		.footer_links_container
		{
		margin-top: 33px;
		}
		.footer_links_container ul li a
		{
		font-size: 14px;
		color: #b5b8be;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.footer_links_container ul li:not(:last-child)
		{
		margin-bottom: 15px;
		}
		.footer_links_container ul li a:hover
		{
		color: var(--green);
		}
		.footer_mobile
		{
		display: inline-block;
		float: right;
		}
		.footer_mobile_content
		{
		padding-top: 35px;
		}
		.footer_image:not(:last-child)
		{
		margin-bottom: 10px;
		}
		.copyright
		{
		height: 54px;
		border-top: solid 1px #353a49;
		}
		.cr_list li
		{
		display: inline-block;
		}
		.copyright div
		{
		font-size: 14px;
		color: #b5b8be;
		}
		.cr_text a
		{
		color: #FFFFFF;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.cr_text a:hover
		{
		color: var(--green);
		}
		.cr_list li:not(:last-child)
		{
		margin-right: 50px;
		}
		.cr_list li a
		{
		font-size: 14px;
		color: #b5b8be;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
		}
		.cr_list li a:hover
		{
		color: var(--green);
		}